In [25]:
# Analyze atomic SO-CI output file from Molpro
# KKI 12/21/2023
import re, sys, glob, subprocess, os

os.environ['OMP_NUM_THREADS'] = '1'  # to avoid memory leak in KMeans()
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from collections import Counter
from sklearn.cluster import KMeans

import chem_subs as chem
import molpro_subs as mpr

pd.set_option('display.max_rows', None)
np.set_printoptions(suppress=True)

### Specify Molpro SO-CI output file

In [26]:
fdir = r'C:\Users\irikura\OneDrive - NIST\Karl\UMemphis'
#fname = 'Ni_II-29D17Q-12-21-23.out'
fname = 'ni+_5D7Q_tz_dk.pro'

In [27]:
fsoc = os.sep.join([fdir, fname])
print(f'Reading MOLPRO file "{fsoc}"')
atom = mpr.stoichiometry(fsoc)
charge = mpr.total_charge(fsoc, verbose=True)
print(f'The atom is {atom} with charge {charge}')
# append charge, to match sheet names in exptl data file
if charge > 0: 
    atom += '+'
elif charge < 0:
    atom += '-'
if abs(charge) > 1:
    atom += f'{abs(charge)}'
PG = mpr.read_compgroup(fsoc)
print(f'The computational point group is {PG}')

Reading MOLPRO file "C:\Users\irikura\OneDrive - NIST\Karl\UMemphis\ni+_5D7Q_tz_dk.pro"
The atom is Ni+1 with charge 1.0
The computational point group is Ci

In [28]:
SOCI = mpr.fullmatSOCI(fsoc, atom=True)

Computational group = Ci
CASSCF states:
    12 Doublet
    10 Quartet

In [29]:
SOCraw = SOCI.vals.min()
print(f'From lowest level and lowest uncoupled energy, raw theoretical SOCraw = {SOCraw:.3f} cm-1')

From lowest level and lowest uncoupled energy, raw theoretical SOCraw = -628.184 cm-1

In [30]:
fmt = {'Eshift': '{:.1f}', 'Pct': '{:.3f}', 'eV': '{:.3f}', 'degen': '{:.0f}'}
for col in ['J', 'Ecalc', 'E_dif', 'Erel', 'Eshift', 'err', 'Eterm', 'cm-1', 'fitted',
           'wmean', 'wstds', 'uwmean', 'uwstds']:
    fmt[col] =  fmt['Eshift']
for col in ['dif', 'Theory', 'ecm', 'SOC', 'RMSE']:
    fmt[col] = '{:.2f}'

In [31]:
dfterm = SOCI.average_terms(be_close=['Energy', 'Edav', 'Eref', 'dipZ', 'C0'], always=True)
# drop the dipZ column
dfterm.drop(columns=['dipZ'], inplace=True)
print('Averaged terms from MRCI:')
dfso = SOCI.assign_atomic_J(quiet=True)  # create SOCI.dfso
Egl = SOCI.dfso.E.min()  # energy of ground level
dfterm['Erel'] = (dfterm.Edav - Egl) * chem.AU2CM
display(dfterm.style.format(fmt))
print('"ecm"  is relative to the lowest term (cm-1)')
print('"Erel" is relative to the ground level')

Averaged terms from MRCI:

"ecm"  is relative to the lowest term (cm-1)
"Erel" is relative to the ground level

In [32]:
irreps_ci = set(SOCI.dfci.Irrep)
if (PG == 'Ci') and (len(irreps_ci) == 1):
    if 1 in irreps_ci:
        parity = 'even'
    else:
        parity = 'odd'

In [33]:
def term_distrib(term, df):
    # return the weights (including 2J+1) of term in levels
    global SOCI
    itarget = SOCI.dfterm[SOCI.dfterm.Term == term].index[0]
    wt = [twt[itarget] for twt in df.termwt]  # without 2J+1 weighting
    wt = wt * (2*df.J + 1)
    return wt

### Display the distribution of one term among levels

In [34]:
term = '(1)2D'

In [35]:
print(f'Distribution of term "{term}" among levels:')
thrsh = 1.e-6
dfdistrib = dfso.copy()
dfdistrib[term] = term_distrib(term, dfso)
dfdistrib['Pct'] = dfdistrib[term] * 100 / dfdistrib[term].sum()
# add column with Eshift expressed in eV
dfdistrib['eV'] = dfdistrib['Eshift'] / chem.EV2CM
# remove rows with negligible weights
dfdistrib = dfdistrib[dfdistrib[term] > thrsh]
dfdistrib.drop(['termwt', 'Composition'], axis=1, inplace=True)
display(dfdistrib.sort_values(term, ascending=False).style.format(fmt))
print(f'Total weight of {term} = {dfdistrib[term].sum():.3f}')
print('Column "Eshift" is relative to the ground term, in cm-1.  "eV" is the same quantity.')

Distribution of term "(1)2D" among levels:

Total weight of (1)2D = 10.000
Column "Eshift" is relative to the ground term, in cm-1.  "eV" is the same quantity.

In [37]:
print('All levels')
dfso.style.format(fmt)

All levels