In [21]:
# Adjust atomic term energies (SO-CI matrix diagonals) to fit exptl energy levels
#    to obtain semiempirical term energies
# This version has better assignments, to match theoretical and exptl levels
# Also allows multiple terms with same basis symbol
# KKI 7/12/2023
import re, sys, glob, subprocess
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy, collections
#sys.path.insert(0, '../karlib')
import chem_subs as chem
import molpro_subs as mpr

pd.set_option('display.max_rows', None)

In [22]:
# Excel spreadsheet of experimental levels from https://physics.nist.gov/PhysRefData/ASD/levels_form.html
#   Download as CSV; paste into a column in Excel; use Data -> Text to Columns -> Delimited -> Comma
#   Rename that worksheet with a name like "Fe" or "Fe+"
# Note that experimental levels might not be listed by increasing energy
xl_expt = 'exptl_levels.xlsx'
xl = pd.ExcelFile(xl_expt, engine='openpyxl')

### Select atom and parity of interest

In [23]:
atom = 'Ni'  # a name like "Fe" or "Fe+"
parity = 'even'  #  choose 'even' or 'odd' or 'both'

In [24]:
Ecol = 'Level (cm-1)'  # the exptl energy column
# display formatting
fmt = {'Eshift': '{:.1f}', Ecol: '{:.3f}', 'Pct': '{:.3f}', 'degen': '{:.0f}'}
for col in ['J', 'Ecalc', 'E_dif', 'Erel', 'Eshift', 'err', 'Eterm', 'cm-1', 'fitted']:
    fmt[col] =  fmt['Eshift']
for col in ['dif', 'Theory', 'ecm', 'SOC', 'RMSE']:
    fmt[col] = '{:.2f}'

In [25]:
require_standard_symbols = True  # make False to allow ASD-type alternative "term" symbols

In [26]:
if atom not in xl.sheet_names:
    print(f'No experimental data sheet for {atom}!')
else:
    dfexpt = pd.read_excel(xl, atom, engine='openpyxl')
    # Delete any ionization limit and above
    ilim = dfexpt[dfexpt.Term == 'Limit'].index.min()
    # delete the "Limit" row
    dfexpt = dfexpt[dfexpt.Term != 'Limit']
    # delete everything past the Limit
    n1 = len(dfexpt)
    dfexpt = dfexpt.truncate(after=ilim)
    n2 = len(dfexpt)
    if n2 < n1:
        print(f'Discarded {n1-n2} metastable states')
    dfeven = dfexpt[~dfexpt.Term.str.contains('\*$')].copy()
    dfodd = dfexpt[dfexpt.Term.str.contains('\*$')].copy()
    print(f'{len(dfexpt)} experimental levels ({len(dfeven)} even and {len(dfodd)} odd) for {atom} read from "{xl_expt}"')
    # Select by parity
    if parity == 'even':
        # discard odd levels ('Term' field ends with '*')
        dfexpt = dfeven.copy()
    elif parity == 'odd':
        dfexpt = dfodd.copy()
    print(f'{len(dfexpt)} levels are of parity "{parity}"')
    # add degeneracy = 2J+1
    dfexpt['degen'] = 2 * dfexpt.J + 1
# Check for unrecognized term labels
bad_labels = []
if require_standard_symbols:
    for trm in dfexpt.Term:
        try:
            chem.possible_J_from_term(trm)
        except:
            bad_labels.append(trm)
else:
    # allow alternative "term" symbols like "2[5/2]"
        try:
            chem.possible_J_from_ASD_label(trm)
        except:
            bad_labels.append(trm)
if bad_labels:
    print('Some term labels are not recognizable!')
    print('The following levels will be deleted:')
    display(dfexpt[dfexpt.Term.isin(bad_labels)].style.format(fmt))
    dfexpt = dfexpt[~dfexpt.Term.isin(bad_labels)]
else:
    print('All term labels are recognizable')
# Create unique term labels, "uTerm"
dfexpt = chem.unique_labels_exptl_terms(dfexpt, verbose=True, always=True)

Discarded 2 metastable states
285 experimental levels (128 even and 157 odd) for Ni read from "exptl_levels.xlsx"
128 levels are of parity "even"
Some term labels are not recognizable!
The following levels will be deleted:

### Specify Molpro SO-CI output file

In [27]:
fsoc = 'fe_15Q21T_ctzdk_x2c.pro'  # use termcut=20000
fsoc = 'fe_ci_15Q7T_c5zdk_x2c.pro'  # use termcut=18000
fsoc = 'fe_15Q7T_ctzdk_x2c.pro'  # use termcut=18000
fsoc = r'../UMemphis/NI15T21S-cc-TZ-DK.out'

print(f'Reading MOLPRO file "{fsoc}"')
compAtom = mpr.stoichiometry(fsoc)
charge = mpr.total_charge(fsoc)
print(f'The atom is {compAtom} with charge {charge}')
# check for consistency with the experimental data that were read
if charge > 0: 
    compAtom += '+'
elif charge < 0:
    compAtom += '-'
if abs(charge) > 1:
    compAtom += f'{abs(charge)}'

if compAtom != atom:
    print(f'*** exptl atom = {atom} is different')
PG = mpr.read_compgroup(fsoc)
print(f'The computational point group is {PG}')

Reading MOLPRO file "../UMemphis/NI15T21S-cc-TZ-DK.out"
The atom is Ni with charge 0.0
The computational point group is Ci

In [28]:
SOCI = mpr.fullmatSOCI(fsoc, hybrid=True, sortval=False)
vals_original = SOCI.vals.copy()

Computational group = Ci
CASSCF states:
    21 Singlet
    15 Triplet
Replacing MRCI+Q energies by HLSDIAG values

In [29]:
dfterm = SOCI.average_terms(be_close=['Energy', 'Edav', 'Eref', 'dipZ', 'C0'], always=True)
# drop the dipZ column
dfterm.drop(columns=['dipZ'], inplace=True)
print('Averaged terms:')
dfso = SOCI.assign_atomic_J(quiet=True)  # create SOCI.dfso
Egl = SOCI.dfso.E.min()  # energy of ground level
dfterm['Erel'] = (dfterm.Edav - Egl) * chem.AU2CM
display(dfterm.style.format(fmt))

Averaged terms:

In [30]:
# Discard experimental levels whose leading terms are not among those computed
noncompos = set(dfexpt.uTerm) - set(dfterm.Term)
if len(noncompos):
    print('Some exptl terms were not computed:', noncompos)
    print('Deleting the following levels, led by those terms:')
    dfn = dfexpt[dfexpt.uTerm.isin(noncompos)]
    display(dfn.style.format(fmt))
    dfexpt = dfexpt[~dfexpt.uTerm.isin(noncompos)]

Some exptl terms were not computed: {'(1)5F', '(2)5F', '(1)1F', '(3)3F', '(2)3F'}
Deleting the following levels, led by those terms:

In [39]:
def match_expt_theory_simple(dfexpt, dftheory):
    # match exptl and theoretical levels, based upon leading term
    # return a DataFrame containing both
    dfcomp = dfexpt[['Configuration', 'uTerm', 'J', Ecol, 'degen']].copy()
    dfcomp['Tcalc'] = ''  # term assignment in computation
    dfcomp['Ecalc'] = np.nan
    for i, row in dftheory.iterrows():
        term = row.Lead
        J = row.J
        for ix, rowx in dfexpt.iterrows():
            if (rowx.uTerm == term) and (rowx.J == J):
                if not np.isnan(dfcomp.at[ix, 'Ecalc']):
                    print('Already paired!', display(rowx.to_frame().T))
                    
                else:
                    dfcomp.at[ix, 'Ecalc'] = row.Erel
                    dfcomp.at[ix, 'Tcalc'] = term
    dfcomp['err'] = dfcomp.Ecalc - dfcomp[Ecol]
    return dfcomp

In [32]:
def levels_from_term_energies(term_order, term_energies):
    # Install the term energies along the SOCI.matrix diagonal and rediagonalize
    #   'term_order' is array of term symbols
    #   'term_energies' is array of corresponding energies (cm-1)
    # Return nothing
    #global SOCI
    #   'SOCI' is a fullmatSOCI() object and is modified
    term_dict = dict(zip(term_order, term_energies))
    newdiag = SOCI.matrix.diagonal().copy()
    for ibs in range(len(newdiag)):
        j = SOCI.sob_ici[ibs]
        term = SOCI.mrci[j].Term
        # install the new energy for the term
        newdiag[ibs] = term_dict[term]
    # update the matrix
    SOCI.fill_diagonal(newdiag)
    SOCI.diagonalize(store=True, vectors=True, sortval=False)  # update the SOCI() object
    SOCI.assign_atomic_J(quiet=True)
    return

In [33]:
def rmserr(dfcomp):
    # Given a matched-up comparison of expt and theory, return the
    #   rms error in level energies
    # Weighted with degeneracies
    rmse = np.dot(dfcomp.err**2, dfcomp.degen.astype(float))
    rmse /= dfcomp.degen.sum()
    rmse = np.sqrt(rmse)
    return rmse
def obj_fun(exc_terme):
    # Given only excited term energies (assuming ground=0)
    #   return the RMSE
    global term_order, dfexpt, SOCI
    terme = [0] + list(exc_terme)  # the fixed energy of the ground term is 0
    levels_from_term_energies(term_order, terme)
    dfcomp = match_expt_theory_simple(dfexpt, SOCI.dfso)
    rmse = rmserr(dfcomp)
    return rmse

In [34]:
# Create global 'term_order' 
term_order = dfterm.Term.values
term_energies = dfterm.ecm.values

In [35]:
print('Initial comparison with expt, before fitting')
dfcomp = match_expt_theory_simple(dfexpt, SOCI.dfso)
rmse0 = rmserr(dfcomp)
print(f'RMSE = {rmse0:.1f} cm-1')
display(dfcomp.style.format(fmt))

Initial comparison with expt, before fitting
RMSE = 1738.2 cm-1

In [36]:
def freport(xvec):
    # callback function to monitor minimization
    freport.counter += 1
    print(f'{freport.counter:5d}', end='')
    return
freport.counter = 0

In [37]:
# Minimize the RMSE
exc_terme = list(term_energies)[1:]  # only excited terms; assume ground term = 0 energy
result = scipy.optimize.minimize(obj_fun, exc_terme, method='Nelder-Mead', callback=freport)

    1    2    3    4    5    6    7    8    9   10   11   12   13   14   15   16   17   18   19   20   21   22   23   24   25   26   27   28   29   30   31   32   33   34   35   36   37   38   39   40   41   42   43   44   45   46   47   48   49   50   51   52   53   54   55   56   57   58   59   60   61   62   63   64   65   66   67   68   69   70   71

,Configuration,Term,J,Prefix,Level (cm-1),Suffix,Uncertainty (cm-1),Lande,Leading percentages,Reference,degen,uTerm
9,3d8.(3P).4s2,3P,2,NaN,15609.844,NaN,NaN,1.356,78 : 18 3d8.(1D).4s2 ...,NaN,5,(1)3P

Already paired! None
   72   73   74   75   76   77   78   79   80   81   82   83   84   85   86   87   88   89   90   91   92   93   94   95   96   97   98   99  100  101  102  103  104  105  106  107  108  109  110  111  112  113  114  115  116  117  118  119  120  121  122  123  124  125  126  127  128  129  130  131  132  133  134  135  136  137  138  139  140  141  142  143  144  145  146  147  148  149  150  151  152  153  154  155  156  157  158  159  160  161  162  163  164  165  166  167  168  169  170  171  172  173  174  175  176  177  178  179  180  181  182  183  184  185  186  187  188  189  190  191  192  193  194  195  196  197  198  199  200  201  202  203  204  205  206  207  208  209  210  211  212  213  214  215  216  217  218  219  220  221  222  223  224  225  226  227  228  229  230  231  232  233  234  235  236  237  238  239  240  241  242  243  244J values found are not J values expected!
Expected: [(0.0, 3), (1.0, 2), (2.0, 5), (3.0, 2), (4.0, 2)]
Found   : [(0.0, 2), (0.5, 1), (1.0, 1), (1.5, 3), (2.0, 4), (2.5, 1), (4.0, 1), (5.5, 1)]
Nr 1 has J = 1.5 but that is not among possibilities [2.0, 3.0]
Nr 2 has J = 1.5 but that is not among possibilities [2.0, 3.0]
Nr 3 has J = 1.5 but that is not among possibilities [2.0, 3.0]
Nr 4 has J = 1.5 but that is not among possibilities [2.0, 3.0]
Nr 5 has J = 0.5 but that is not among possibilities [2.0, 3.0]
Nr 6 has J = 0.5 but that is not among possibilities [2.0, 3.0]
Nr 7 has J = 1.5 but that is not among possibilities [1.0, 2.0, 3.0]
Nr 8 has J = 2.5 but that is not among possibilities [2.0, 3.0]
Nr 9 has J = 2.5 but that is not among possibilities [2.0, 3.0]
Nr 10 has J = 2.5 but that is not among possibilities [2.0, 3.0, 4.0]
Nr 11 has J = 1.0 but that is not among possibilities [2.0, 3.0]
Nr 12 has J = 1.0 but that is not among possibilities [2.0, 3.0]
Nr 13 has J = 1.0 but that is not among possibilities [2.0, 3.0]
Nr 14 has J = 2.5 but that is not among possibilities [2.0, 3.0]
Nr 15 has J = 2.5 but that is not among possibilities [2.0, 3.0]
Nr 16 has J = 2.5 but that is not among possibilities [2.0, 3.0]
Nr 22 has J = 5.5 but that is not among possibilities [2.0, 3.0, 4.0]
Nr 23 has J = 5.5 but that is not among possibilities [2.0, 3.0, 4.0]
Nr 24 has J = 5.5 but that is not among possibilities [2.0, 3.0, 4.0]
Nr 25 has J = 5.5 but that is not among possibilities [2.0, 3.0, 4.0]
Nr 26 has J = 5.5 but that is not among possibilities [2.0, 3.0, 4.0]
Nr 27 has J = 5.5 but that is not among possibilities [2.0, 3.0, 4.0]
Nr 28 has J = 5.5 but that is not among possibilities [2.0, 3.0, 4.0]
Nr 29 has J = 1.5 but that is not among possibilities [1.0, 2.0, 3.0]
Nr 30 has J = 1.5 but that is not among possibilities [1.0, 2.0, 3.0]
Nr 31 has J = 1.5 but that is not among possibilities [1.0, 2.0, 3.0]
Nr 32 has J = 5.5 but that is not among possibilities [2.0]
Nr 33 has J = 5.5 but that is not among possibilities [2.0]
Nr 34 has J = 5.5 but that is not among possibilities [2.0]
Nr 35 has J = 5.5 but that is not among possibilities [2.0]
Nr 36 has J = 5.5 but that is not among possibilities [2.0]
Nr 53 has J = 1.5 but that is not among possibilities [0.0, 1.0, 2.0]
Nr 54 has J = 1.5 but that is not among possibilities [0.0, 1.0, 2.0]
Nr 55 has J = 1.5 but that is not among possibilities [0.0, 1.0, 2.0]
Nr 56 has J = 1.5 but that is not among possibilities [0.0]
  245  246  247  248  249  250  251  252  253  254  255  256  257  258  259  260  261  262  263  264  265  266  267  268  269  270  271  272  273  274  275  276  277  278  279  280  281  282  283  284  285  286  287  288  289  290  291  292  293  294  295  296  297  298  299  300  301  302  303  304  305  306  307  308  309  310  311  312  313  314  315  316  317  318  319  320  321  322  323  324  325  326  327  328  329  330  331  332  333  334  335  336  337  338  339  340  341  342  343  344  345  346  347  348  349  350  351  352  353  354  355  356  357  358  359  360  361  362  363  364  365  366  367  368  369  370  371  372  373  374  375  376  377  378  379  380  381  382  383  384  385  386  387  388  389  390  391  392  393  394  395  396  397  398  399  400  401  402  403  404  405  406  407  408  409  410  411  412  413  414  415  416  417  418  419  420  421  422  423  424  425  426  427  428  429  430  431  432  433  434  435  436  437  438  439  440  441  442  443  444  445  446  447  448  449  450  451  452  453  454  455  456  457  458  459  460  461  462  463  464  465  466  467  468  469  470  471  472  473  474  475  476  477  478  479  480  481  482  483  484  485  486  487  488  489  490  491  492  493  494  495  496  497  498  499  500  501  502  503  504  505  506  507  508  509  510  511  512  513  514  515  516  517  518  519  520  521  522  523  524  525  526  527  528  529  530  531  532  533  534  535  536  537  538  539  540  541  542  543  544  545  546  547  548  549  550  551  552  553  554  555  556  557  558  559  560  561  562  563  564  565  566  567  568  569  570  571  572  573  574  575  576  577  578  579  580  581  582  583  584  585  586  587  588  589  590  591  592  593  594  595  596  597  598  599  600  601  602  603  604  605  606  607  608  609  610  611  612  613  614  615  616  617  618  619  620  621  622  623  624  625  626  627  628  629  630  631  632  633  634  635  636  637  638  639  640  641  642  643  644  645  646  647  648  649  650  651  652  653  654  655  656  657  658  659  660  661  662  663  664  665  666  667  668  669  670  671  672  673  674  675  676  677  678  679  680  681  682  683  684  685  686  687  688  689  690  691  692  693  694  695  696  697  698  699  700  701  702  703  704  705  706  707  708  709  710  711  712  713  714  715  716  717  718  719  720  721  722  723  724  725  726  727  728  729  730  731  732  733  734  735  736  737  738  739  740  741  742  743  744  745  746  747  748  749  750  751  752  753  754  755  756  757  758  759  760  761  762  763  764  765  766  767  768  769  770  771  772  773  774  775  776  777  778  779  780  781  782  783  784  785  786  787  788  789  790  791  792  793  794  795  796  797  798  799  800  801  802  803  804  805  806  807  808  809  810  811  812  813  814  815  816  817  818  819  820  821  822  823  824  825  826  827  828  829  830  831  832  833  834  835  836  837  838  839  840  841  842  843  844  845  846  847  848  849  850  851  852  853  854  855  856  857  858  859  860  861  862  863  864  865  866  867  868  869  870  871  872  873  874  875  876  877  878  879  880  881  882  883  884  885

In [41]:
if result.success:
    print(f'Minimization complete in {result.nit} iterations with {result.nfev} evaluations')
    print(f'RMSE = {result.fun:.1f} after Nelder-Mead')
    rmse = result.fun
    print('Fitted levels')
    fit_terme = [0] + list(result.x)
    levels_from_term_energies(term_order, fit_terme)
    dfcomp = match_expt_theory_simple(dfexpt, SOCI.dfso)
    rmse = rmserr(dfcomp)
    display(dfcomp.style.format(fmt))
    print(f'RMSE = {rmse:.1f} cm-1 compared with initial RMSE = {rmse0:.1f}')
else:
    print('*** Failure ***')
    print(result)

Minimization complete in 886 iterations with 1350 evaluations
RMSE = 18.2 after Nelder-Mead
Fitted levels

RMSE = 18.2 cm-1 compared with initial RMSE = 1738.2

In [43]:
# Add to Term DataFrame
print('Fitted term energies; "Erel" is relative to the lowest level')
dfterm['fitted'] = np.nan
for term, terme in zip(term_order, fit_terme):
    dfterm.at[dfterm.Term == term, 'fitted'] = terme
Eshift = SOCI.dfso.Eshift.min()  # energy of ground level relative to lowest term
dfterm['Erel'] = (dfterm.fitted - Eshift) # relative to ground level
dfterm.style.format(fmt)

Fitted term energies; "Erel" is relative to the lowest level

In [20]:
1/0

ZeroDivisionError: division by zero

In [ ]:
cruft below

In [ ]:
def align_expt_theory(warnThresh=800, showDF=True, silent=False):
    # Compare experimental levels with corresponding theoretical
    #   'warnThresh' will display larger discrepancies in red
    global enforce_term_assignment

    dfdiff = dfexpt.copy()
    dfdiff['Ecalc'] = np.nan
    # match computed levels to exptl
    dflevel = SOCI.dfso
    idx = list(dflevel.index)  # list of computed, assigned levels
    termwt = []  # for arrays of term weights (from theory)
    leading = []  # leading term in the calculation
    failmatch = False
    ifail = []  # list of exptl rows that cannot be matched
    for i, row in dfexpt.iterrows():
        #display(dfexpt.loc[i].to_frame().T)
        while idx:
            # there are theoretical levels that have not been matched to exptl
            for j in idx.copy():
                if float(row.J) != float(dflevel.at[j, 'J']):
                    # values of J don't match
                    continue
                if enforce_term_assignment:
                    # Also require that terms have same label
                    # ** This may be problematic for ambiguous term labeling **
                    if row.Tlbl != dflevel.loc[j, 'Lead']:
                        #print('<<unequal term:', row.Term, dflevel.loc[j, 'Leading'])
                        continue
                # J (and optionally Term) match
                #print('>>>matches:')
                #display(dflevel.loc[j].to_frame().T)
                dfdiff.at[i, 'Ecalc'] = dflevel.at[j, 'Erel']
                termwt.append(dflevel.at[j, 'termwt'])
                leading.append(dflevel.at[j, 'Lead'])
                idx.remove(j)
                break
            else:
                if not silent:
                    print('Failed to assign any theoretical level to this exptl:')
                    display(row.to_frame().T)
                    print('Rejected possibilities:')
                    display(dflevel.loc[idx].style.format(fmt))
                ifail.append(i)
                failmatch = True
            break
    if failmatch:
        if enforce_term_assignment:
            print('*** Try setting enforce_term_assignment = False ***')
        else:
            # just delete the non-matching rows
            if not silent:
                print('Stop tracking these exptl levels:')
                display(dfexpt.loc[ifail])
            dfdiff.drop(ifail, inplace=True)
    dfdiff['err'] = np.round(dfdiff.Ecalc - dfdiff[Ecol], 2)
    try:
        dfdiff['termwt'] = termwt
    except ValueError:
        print('*** Error ***  Try adjusting "termcut" in cell #4 ***')
        1/0
    # keep only some columns
    dfdiff = dfdiff[['Configuration', 'Term', Ecol, 'Tlbl', 'J',
                     'degen', 'Ecalc', 'err', 'termwt']]
    if not enforce_term_assignment:
        # report the theoretical term 
        dfdiff['Leading'] = leading
    if showDF:
        display(dfdiff.drop('termwt', axis=1).style.apply(lambda x: ["background: yellow" if abs(v) > warnThresh else "" for v in x], 
                          subset=pd.IndexSlice[['err']]).format(fmt))
        print(f'Errors > {warnThresh} cm-1 are highlighted')
    return dfdiff

In [ ]:
def compute_rmse2(dfexpt, degen=True, DFret=False, silent=False):
    # Given SO-CI level energies return their RMS error
    #   'dfexpt' is the DataFrame of exptl level energies
    #   'degen' is whether to include (2J+1) weights (i.e. sublevels individually)
    #   'DFret' is whether to return the DataFrame
    # Assign values of J using energy and term composition
    #global term_order, SOCI
    SOCI.assign_atomic_J(quiet=True)    
    dfdiff = align_expt_theory(showDF=False, silent=silent)
    dfdiff = dfdiff.sort_values('Level (cm-1)')
    if degen:
        rmse = np.dot(dfdiff.degen, dfdiff.err**2)
        rmse /= dfdiff.degen.sum()
    else:
        rmse = (dfdiff.err**2).mean()
    rmse = np.sqrt(rmse)
    if DFret:
        return rmse, dfdiff
    else:
        return rmse

In [ ]:
def rmse_fun(term_energies, silent=False):
    # Uses globals
    # Return RMSE given term energies
    # Do not allow the lowest term energy to change
    #global dfexpt, SOCI, term_order
    levels_from_term_energies(term_order, term_energies)
    rmse = compute_rmse2(dfexpt, silent=silent)
    return rmse
def obj_fun(exc_terme):
    # Given only excited term energies (assuming ground=0)
    #   return the RMSE
    #global dfexpt, SOCI, term_order
    terme = [0] + list(exc_terme)  # the fixed energy of the ground term is 0
    rmse = rmse_fun(terme, silent=True)
    return rmse

In [ ]:
# Require that expt and calc have same leading terms? Global variable
enforce_term_assignment = False
if enforce_term_assignment:
    print('--When matching exptl/theor levels, term labels will be required to match--')

In [ ]:
SOCI.assign_atomic_J(quiet=True)
olddfso = SOCI.dfso.copy()
#olddfso.style.format(fmt)

In [ ]:
dferr = align_expt_theory(showDF=True)

In [ ]:
rmse_original, dforig = compute_rmse2(dfexpt, DFret=True)  # as received from MOLPRO
oldmat = SOCI.matrix.copy()
oldvals = SOCI.vals.copy()
SOCraw = vals_original[0]
print(f'Original RMSE = {rmse_original:.2f} cm-1 with theoretical SOCraw = {SOCraw:.2f} cm-1')
#display(dforig.style.format(fmt))

In [ ]:
# Summary DF for different data treatments
cols = ['Case', 'RMSE', 'SOC'] + list(dfeq1.Tlbl.values)
xtvals = list(dfeq1.Erel.values)
if not enforce_term_assignment:
    # add any theoretical terms that are missing
    for t in term_order:
        if t not in cols:
            cols.append(t)
            xtvals.append(np.nan)
dfsummary = pd.DataFrame(columns=cols)
for t in (tlbls + list(dfterm.Term)):
    fmt[t] = '{:.1f}'
# situation without theoretical info
row = ['expt only', np.nan, SOC1, *xtvals]
dfsummary.loc[len(dfsummary)] = row

In [ ]:
# Use the averaged term energies--expect little change
rmse_avgd = rmse_fun(term_energies)
SOCth = SOCI.dfso.Eshift.min()
print(f'Using averaged input term energies, RMSE = {rmse_avgd:.2f} cm-1 and SOCth = {SOCth:.2f} cm-1')
d = dict(zip(dfterm.Term, dfterm.ecm))
row = ['Before fit', rmse_avgd, SOCth] + [d.get(t, np.nan) for t in dfsummary.columns[3:]]
row.extend([np.nan] * (len(dfsummary.columns) - len(row)))
#display(dfsummary)
#display(row)
dfsummary.loc[len(dfsummary)] = row

In [ ]:
dfsummary.style.format(fmt)

In [ ]:
# Compute Hessian 
dE = 20  # step size / cm-1
def grad_fun(xcent):
    # two-sided gradient
    ndim = len(xcent)
    grad = np.zeros(ndim)
    for i in range(ndim):
        x = xcent.copy()
        x[i] += dE
        y1 = obj_fun(x)
        x[i] -= 2 * dE
        y_1 = obj_fun(x)
        grad[i] = (y1 - y_1) / (2 * dE)
    return grad
def hess_fun(xcent):
    # two-sided hessian
    ndim = len(xcent)
    hess = np.zeros((ndim, ndim))
    for i in range(ndim):
        x = xcent.copy()
        x[i] += dE
        y1 = grad_fun(x)
        x[i] -= 2 * dE
        y_1 = grad_fun(x)
        hess[i,:] = (y1 - y_1) / (2 * dE)
    return hess

In [ ]:
grad = grad_fun(result.x)
print('Gradient =', np.round(grad, 4))
hess = hess_fun(result.x)
print('Hessian:')
np.set_printoptions(suppress=True)
print(np.round(hess, 5))
print('Diagonal:')
print(np.round(hess.diagonal(), 5))

In [ ]:
rmse = result.fun
print(f'After minimization, RMSE = {rmse:.2f} cm-1')
terme = [0] + list(result.x)
Eterm = dict(zip(term_order, terme))
print('\nExptl vs fitted level energies:')
dfdiff = align_expt_theory()
#display(dfcomp.style.format(fmt))
SOCfit = SOCI.vals[0]
print(f'The lowest level energy = SOCfit = {SOCfit:.2f} cm-1')

In [ ]:
d = dict(zip(term_order, terme))
row = ['After fit', rmse, SOCfit] + [d.get(t, np.nan) for t in dfsummary.columns[3:]]
dfsummary.loc[len(dfsummary)] = row
display(dfsummary.style.format(fmt).hide_index())
print(f'Input file: {fsoc}')