In [1]:
# Extract SOC information from MOLPRO outputs for atoms
# ** This will probably break if there are multiple terms with the same term symbol **
# KKI version 3/21/2023
import re, sys, glob, subprocess
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
sys.path.insert(0, '../karlib')
import chem_subs as chem
import molpro_subs as mpr

pd.set_option('display.max_rows', None)

In [2]:
# Excel spreadsheet of experimental levels from https://physics.nist.gov/PhysRefData/ASD/levels_form.html
#   Download as CSV; paste into a column in Excel; use Data -> Text to Columns -> Delimited -> Comma
#   Rename that worksheet with a name like "Fe" or "Fe+"
# Note that experimental levels might not be listed by increasing energy
xl_expt = 'exptl_levels.xlsx'
xl = pd.ExcelFile(xl_expt, engine='openpyxl')

### Select atom and parity of interest

In [3]:
atom = 'Fe'  # a name like "Fe" or "Fe+"
parity = 'even'  #  choose 'even' or 'odd' or 'both'

### Select energy maximum for experimental terms

In [4]:
# In case of errors, try making this larger or smaller to match the theoretical calculation
termcut = 18000  # discard terms that lack levels below this energy (cm-1)

In [5]:
Ecol = 'Level (cm-1)'  # the exptl energy column
# display formatting
fmt = {'Eshift': '{:.1f}', Ecol: '{:.3f}', 'Pct': '{:.3f}', 'degen': '{:.0f}'}
for col in ['J', 'Ecalc', 'E_dif', 'Erel', 'Eshift', 'err', 'Eterm']:
    fmt[col] =  fmt['Eshift']

In [6]:
if atom not in xl.sheet_names:
    print(f'No experimental data sheet for {atom}!')
else:
    dfexpt = pd.read_excel(xl, atom, engine='openpyxl')
    # Delete any ionization limit
    dfexpt = dfexpt[dfexpt.Term != 'Limit']
    print(f'{len(dfexpt)} experimental levels for {atom} read from "{xl_expt}"')
    # Select by parity
    if parity == 'even':
        # discard odd levels ('Term' field ends with '*')
        dfexpt = dfexpt[~dfexpt.Term.str.contains('\*$')]
    elif parity == 'odd':
        dfexpt = dfexpt[dfexpt.Term.str.contains('\*$')]
    print(f'{len(dfexpt)} levels are of parity "{parity}"')
    # Select terms by energy
    lowTerms = []
    for term, grp in dfexpt.groupby('Term'):
        if (grp[Ecol] < termcut).any():
            lowTerms.append(term)
    print(f'There are {len(lowTerms)} assigned terms with levels below {termcut} cm-1')
    dfexpt = dfexpt[dfexpt.Term.isin(lowTerms)]
    nlevx = len(dfexpt)
    print(f'There are {nlevx} levels of interest')
    # parse 'Term' column to get simplified term labels
    def simplify(term):
        # extract the basic LS part of a decorated term label
        regex = re.compile('\d[SPDF-Z]')
        m = regex.search(term)
        if m:
            return m.group(0)
        else:
            # failed
            return '?'
    dfexpt['Tlbl'] = dfexpt.Term.apply(simplify)
    # Convert experimental 'J' and 'Level' to floats
    for col in ['J', Ecol]:
        dfexpt[col] = dfexpt[col].astype(float)
    # add degeneracy = 2J+1
    dfexpt['degen'] = 2 * dfexpt.J + 1
    display(dfexpt.style.format(fmt))

846 experimental levels for Fe read from "exptl_levels.xlsx"
368 levels are of parity "even"
There are 4 assigned terms with levels below 18000 cm-1
There are 16 levels of interest

### Take assignments at face value, i.e., apply eq. (1)

In [7]:
# No theoretical calculation are needed to use eq. (1)
xterms = []  # list of term labels
eterms = []  # list of term energies
for Term, grp in dfexpt.groupby(['Term']):
    xterms.append(Term)
    emean = np.dot(grp.degen, grp[Ecol]) / grp.degen.sum()
    eterms.append(emean)
dfeq1 = pd.DataFrame({'Term': xterms, 'Eterm': eterms}).sort_values('Eterm').reset_index(drop=True)
print('Term energies (cm-1) using eq. (1)')
display(dfeq1.style.format(fmt))
SOC1 = -1 * np.round(dfeq1.at[0, 'Eterm'], 3)
print(f'The corresponding spin-orbit stabilization energy is SOC1 = {SOC1} cm-1')

Term energies (cm-1) using eq. (1)

The corresponding spin-orbit stabilization energy is SOC1 = -402.961 cm-1

### Specify Molpro SO-CI output file

In [8]:
fsoc = 'fe_15Q21T_ctzdk_x2c.pro'
fsoc = 'fe_ci_15Q7T_c5zdk_x2c.pro'
fsoc = 'fe_15Q7T_ctzdk_x2c.pro'

print(f'Reading MOLPRO file "{fsoc}"')
compAtom = mpr.stoichiometry(fsoc)
charge = mpr.total_charge(fsoc)
print(f'The atom is {compAtom} with charge {charge}')
# check for consistency with the experimental data that were read
if charge > 0: 
    compAtom += '+'
elif charge < 0:
    compAtom += '-'
if abs(charge) > 1:
    compAtom += f'{abs(charge)}'
        
if compAtom != atom:
    print(f'*** exptl atom = {atom} is different')
PG = mpr.read_compgroup(fsoc)
print(f'The computational point group is {PG}')

Reading MOLPRO file "fe_15Q7T_ctzdk_x2c.pro"
The atom is Fe with charge 0
The computational point group is Ci

In [9]:
nbf = mpr.nbfn(fsoc)
print(f'{nbf} cGTOs in basis set')
CAS = mpr.readMULTI(fsoc)[-1]  # use only the last CASSCF in the file 
ncas = len(CAS.results)
print(f'CASSCF has {ncas} states in these terms:', set(CAS.results.Term))
print(f'   active space is ({CAS.nactel()}/{CAS.nactorb()})')
#display(CAS.results)

102 cGTOs in basis set
CASSCF has 22 states in these terms: {'5F', '5D', '3F', '5P'}
   active space is (8/6)

In [10]:
MRCI = mpr.readMRCI(fsoc)  # there may be more than one MRCI (multiple spins)
nci = sum([len(m.results) for m in MRCI])
ncore = MRCI[0].ncore  # assume all MRCIs have same number of cores
print(f'MRCI has {nci} states and {ncore} frozen cores in {len(MRCI)} calcs')
if nci != ncas:
    print('\t*** is this correct? ***')
for m in MRCI:
    m.transfer_lz(CAS.results)
dfci = pd.concat([m.results for m in MRCI])
display(dfci[['Edav', 'Label', 'Ref', 'C0', 'Term']])

MRCI has 22 states and 0 frozen cores in 2 calcs

           Edav Label   Ref        C0 Term
0  -1272.167879   1.1   3.1  0.961213   5D
1  -1272.167879   2.1   1.1  0.961213   5D
2  -1272.167874   3.1   4.1  0.961214   5D
3  -1272.167870   4.1   2.1  0.961215   5D
4  -1272.167870   5.1   5.1  0.961215   5D
5  -1272.139425   6.1  11.1  0.967081   5F
6  -1272.139425   7.1   7.1  0.967081   5F
7  -1272.139424   8.1  10.1  0.967081   5F
8  -1272.139424   9.1  12.1  0.967081   5F
9  -1272.139424  10.1   6.1  0.967081   5F
10 -1272.139424  11.1   8.1  0.967081   5F
11 -1272.139424  12.1   9.1  0.967081   5F
12 -1272.088406  13.1  13.1  0.964446   5P
13 -1272.088406  14.1  15.1  0.964446   5P
14 -1272.088405  15.1  14.1  0.964446   5P
0  -1272.113972   1.1   3.1  0.966213   3F
1  -1272.113972   2.1   1.1  0.966213   3F
2  -1272.113974   3.1   6.1  0.966212   3F
3  -1272.113973   4.1   2.1  0.966213   3F
4  -1272.113972   5.1   7.1  0.966213   3F
5  -1272.113971   6.1   4.1  0.966214   3F
6  -1272.113972   7.1   5.1  0.966214   3F

In [11]:
# use MRCI+Q energies to get term energies
terms = []
eterms = []
espread = []  # range of energies within a term (should be small)
e0 = np.inf  # lowest MRCI+Q energy
for Term, grp in dfci.groupby('Term'):
    terms.append(Term)
    eterms.append(grp.Edav.mean())
    espread.append(np.ptp(grp.Edav))
    e0 = min(e0, grp.Edav.min())
dfterm = pd.DataFrame({'Term': terms, 'Emean': eterms, 'Espread': espread}).sort_values('Emean').reset_index(drop=True)
#print('Theoretical term energies (hartree)')
#display(dfterm)

In [12]:
degentol = 3.  # degeneracy tolerance / cm-1
eSOC = mpr.readSOenergy(fsoc, linenum=False)
if eSOC.E0 != e0:
    print(f'\n*** The SO-CI is based on E0 = {eSOC.E0} but the lowest MRCI+Q energy is {e0} ***\n\n')
#display(eSOC.results)  # show all microstates
print(f'Threshold for level degeneracy is {degentol} cm-1\n')
dflevel = eSOC.collect_degenerate(cmtol=degentol)
# remove Irrep column if no information
irreps = set(eSOC.results.Irrep)
if (len(irreps) == 1) and (irreps.pop() == 0):
    #  there is no irrep information
    dflevel = dflevel.drop('Irrep', axis=1)
# Assign values of J based only upon degeneracy
dflevel['J'] = dflevel.degen.apply(chem.J_from_degen)  
tmultc = len(eSOC.energies)  # total number of microstates (i.e., magnetic sublevels)
nlevc = len(dflevel)
print(f'SO-CI has {tmultc} states in {nlevc} levels')
# energy of lowest level defines zero
Ezero = dflevel.Erel.min()
dflevel.Erel -= Ezero
# round computed energies to 0.01
dflevel.Erel = np.round(dflevel.Erel, 2)
compos = mpr.readSOcompos(fsoc)[0][0]
twall = mpr.resources_used(fsoc)['wall']
hours = twall / 3600
print(f'Computation wall time = {twall:.0f} s = {hours:.1f} hr')
# get SOC from the lowest microstate in the SO-CI (no level or term averaging)
SOCraw = np.round(dflevel.at[0, 'Eshift'], 1)
print(f'The raw theoretical spin-orbit stabilization energy is SOCraw = {SOCraw} cm-1')
# now average the ground level and the ground term before taking their difference
SOCth = np.round((dflevel.E.min() - dfterm.Emean.min()) * chem.AU2CM, 1)
print(f'The level-term theoretical spin-orbit stabilization energy is SOCth = {SOCth} cm-1')
display(dflevel.style.format(fmt))
print('"Eshift" is relative to the lowest diagonal (term) energy')

Threshold for level degeneracy is 3.0 cm-1

SO-CI has 96 states in 16 levels
Computation wall time = 19786 s = 5.5 hr
The raw theoretical spin-orbit stabilization energy is SOCraw = -396.7 cm-1
The level-term theoretical spin-orbit stabilization energy is SOCth = -397.6 cm-1

"Eshift" is relative to the lowest diagonal (term) energy

In [13]:
# Get level compositions, identify leading terms
dflevel['compos'] = [compos.sum_term_compos(idx, dfci) for idx in dflevel['index']]
#dflevel['compos'] = [sum_term_compos(compos, idx, MRCI.results) for idx in dflevel['index']]
# identify leading terms
dflevel['Leading'] = 'term'
for i, row in dflevel.iterrows():
    dfcomp = row.compos.sort_values('Pct', ascending=False)
    term = dfcomp.index.values[0]  # term symbol of leading term
    dflevel.loc[i, 'Leading'] = term
if False:
    # check for non-pure states
    nterm = dflevel.compos.apply(lambda x: len(x))
    if (nterm != 1).any():
        print('Some states have multiple term parentage')
        display(dflevel)
    else:
        print('All states have single-term parentage')
print('Composition of theoretical levels')
display(dflevel.style.format(fmt))

Composition of theoretical levels

In [14]:
# compare experimental levels with corresponding theoretical
warnThresh = 800  # highlight errors larger than this (cm-1)
dfdiff = dfexpt.copy()
dfdiff['Ecalc'] = np.nan
# match computed levels to exptl
print(f'Comparing theoretical levels from {fsoc} with experimental')
print('   Matching levels using J and minimal term label')
print('   (This will break if term labels are not clear)')
idx = list(dflevel.index)  # list of computed levels
for i, row in dfexpt.iterrows():
    while idx:
        # there are unassigned theoretical levels
        for j in idx.copy():
            if float(row.J) != float(dflevel.at[j, 'J']):
                # values of J must be equal
                #print('>>unequal J: ', row.J, dflevel.loc[j, 'J'])
                continue
            # also require that terms have same label
            if row.Tlbl != dflevel.loc[j, 'Leading']:
                #print('<<unequal term:', row.Term, dflevel.loc[j, 'Leading'])
                continue
            # both J and Term match
            dfdiff.at[i, 'Ecalc'] = dflevel.at[j, 'Erel']
            idx.remove(j)
            break
        else:
            print('Failed to assign any theoretical level to this exptl!')
            display(row.to_frame().T)
        break
dfdiff['err'] = np.round(dfdiff.Ecalc - dfdiff[Ecol], 2)
# keep only some columns
dfdiff = dfdiff[['Configuration', 'Term', Ecol, 'Leading percentages', 'Tlbl', 'Ecalc', 'err']]
display(dfdiff.style.apply(lambda x: ["background: yellow" if abs(v) > warnThresh else "" for v in x], 
                  subset=pd.IndexSlice[['err']]).format(fmt))
print(f'Errors > {warnThresh} cm-1 are highlighted')

Comparing theoretical levels from fe_15Q7T_ctzdk_x2c.pro with experimental
   Matching levels using J and minimal term label
   (This will break if term labels are not clear)

Errors > 800 cm-1 are highlighted

In [15]:
# summarize level-energy errors by term
dftermerr = pd.DataFrame(columns=['Term', 'range', 'mean', 'stds'])
for term, grp in dfdiff.groupby('Term'):
    spread = np.round([grp.err.min(), grp.err.max()], 0).astype(int)
    m = grp.err.mean()
    s = grp.err.std()
    dftermerr.loc[len(dftermerr)] = [term, spread, m, s]
if dftermerr.isnull().values.any():
    print('*** Some terms are missing ***')
    print('Try decreasing the energy maximum ("termcut")')
else:
    # round values to nearest 1 cm-1
    dftermerr[['mean', 'stds']] = np.round(dftermerr[['mean', 'stds']], 0).astype(int)
    print(f'{fsoc} errors in level energies (cm-1), grouped by leading term')
    # order same as experimental terms
    dftermerr.Term = pd.Categorical(dftermerr.Term, xterms)
    dftermerr = dftermerr.sort_values('Term')
dftermerr

fe_15Q7T_ctzdk_x2c.pro errors in level energies (cm-1), grouped by leading term

   Term         range  mean  stds
0  a 3F  [-187, -142]  -169    24
1  a 5D     [-18, 16]    -1    13
2  a 5F  [-833, -785]  -815    21
3  a 5P    [120, 196]   160    38

In [16]:
# Apply eq. (2) to the ground term (or another 'target')
target = 'lowest'  # set to 'lowest' or choose a term from dfterm.Term

if target == 'lowest':
    # find the ground term
    dfterm = dfterm.sort_values('Emean').reset_index(drop=True)
    target = dfterm.at[0, 'Term']
if target not in dfterm.Term.values:
    print(f'*** Requested term "{target}" is not among {dfterm.Term.values}')
# get pct contribution of term 'target' to all SO microstates
dfmicro = compos.term_distrib(target, dfci)
# lookup and add the microstate indices into eSOC.results
dfSOC = eSOC.results
idx = []
for Nr in dfmicro.Nr:
    i = dfSOC[dfSOC.Nr == Nr].index[0]
    idx.append(i)
dfmicro['idx'] = idx
# Find the level in dflevel['index'] that matches
ilev = []  # index into dflevel
for idx in dfmicro.idx:
    for jrow, row in dflevel.iterrows():
        if idx in row['index']:
            i = jrow
            ilev.append(i)
            break
dfmicro['ilev'] = ilev
# sum within levels
levs = []
sumpct = []
degen = []
for ilev, grp in dfmicro.groupby('ilev'):
    levs.append(ilev)
    sumpct.append(grp.Pct.sum())
    degen.append(len(grp))
# get theoretical energies of these levels
erel = [dflevel.at[ilev, 'Erel'] for ilev in levs]
dfpct = pd.DataFrame({'ilev': levs, 'Pct': sumpct, 'g': degen, 'Erel': erel})
# find the matching EXPERIMENTAL level energies, and theoretical energy errors
# In case of errors here, try including more experimental levels by raising 
try:
    Eexp = [dfdiff[dfdiff.Ecalc == Eth][Ecol].values[0] for Eth in erel]
    dfpct[Ecol] = Eexp
    errs = [dfdiff[dfdiff.Ecalc == Eth]['err'].values[0] for Eth in erel]
    dfpct['err'] = errs
except IndexError:
    print('** Failed to find matching experimental level **')
    print('Try including more experimental levels by raising the energy maximum ("termcut")')

In [17]:
print(f'Distribution of term "{target}" among levels:')
display(dfpct.style.format(fmt))
print(f'Combine theoretical weights ("Pct") with experimental level energies ["{Ecol}"]:')
pctsum = dfpct.Pct.sum()
tmult = chem.atomic_term_multip(target)
Eterm = np.dot(dfpct.Pct, dfpct[Ecol]) / pctsum
print(f'   Term energy = {Eterm:.1f} cm-1')
frac = pctsum / tmult 
print(f'   That accounts for {frac:.3f} % of the term')
SOC2 = -Eterm

Distribution of term "5D" among levels:

Combine theoretical weights ("Pct") with experimental level energies ["Level (cm-1)"]:
   Term energy = 403.0 cm-1
   That accounts for 99.999 % of the term

In [18]:
print(f'Molpro source file: {fsoc}')
print(f'Alternative values for SOC({target}) of atom {atom}:')
print('-' * 25)
print('{:12s} {:.1f} cm-1'.format('eq (1)', SOC1))
print('{:12s} {:.1f} cm-1'.format('raw theory', SOCraw))
print('{:12s} {:.1f} cm-1'.format('avgd theory', SOCth))
print('{:12s} {:.1f} cm-1'.format('eq (2)', SOC2))
print('-' * 25)
# report weighted RMSE for the relevant theoretical levels
wrmse = np.sqrt(np.dot(dfpct.Pct, dfpct.err ** 2) / pctsum)
print(f'For the relevant levels, the weighted RMS error in theoretical energies = {wrmse:.1f} cm-1')

Molpro source file: fe_15Q7T_ctzdk_x2c.pro
Alternative values for SOC(5D) of atom Fe:
-------------------------
eq (1)       -403.0 cm-1
raw theory   -396.7 cm-1
avgd theory  -397.6 cm-1
eq (2)       -403.0 cm-1
-------------------------
For the relevant levels, the weighted RMS error in theoretical energies = 11.1 cm-1