In [1]:
# Extract SOC information from MOLPRO outputs for atoms
# ** This will probably break if there are multiple terms with the same term symbol **
# This version for developing better procedure for assigning values of J
# KKI 4/20/23
import re, sys, glob, subprocess
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from collections import Counter
from sklearn.cluster import KMeans

sys.path.insert(0, '../karlib')
import chem_subs as chem
import molpro_subs as mpr

pd.set_option('display.max_rows', None)

In [2]:
# Excel spreadsheet of experimental levels from https://physics.nist.gov/PhysRefData/ASD/levels_form.html
#   Download as CSV; paste into a column in Excel; use Data -> Text to Columns -> Delimited -> Comma
#   Rename that worksheet with a name like "Fe" or "Fe+"
# Note that experimental levels might not be listed by increasing energy
xl_expt = 'exptl_levels.xlsx'
xl = pd.ExcelFile(xl_expt)

### Select atom and parity of interest

In [3]:
atom = 'Fe'  # a name like "Fe" or "Fe+"
parity = 'even'  #  choose 'even' or 'odd' or 'both'

### Select energy maximum for experimental terms

In [4]:
# In case of errors, try making this larger or smaller to match the theoretical calculation
termcut = 18000  # discard terms that lack levels below this energy (cm-1)

In [5]:
Ecol = 'Level (cm-1)'  # the exptl energy column
# display formatting
fmt = {'Eshift': '{:.1f}', Ecol: '{:.3f}', 'Pct': '{:.3f}', 'degen': '{:.0f}'}
for col in ['J', 'Ecalc', 'E_dif', 'Erel', 'Eshift', 'err', 'Eterm', 'Elev']:
    fmt[col] =  fmt['Eshift']

In [6]:
if atom not in xl.sheet_names:
    print(f'No experimental data sheet for {atom}!')
else:
    dfexpt = pd.read_excel(xl, atom)
    # Delete any ionization limit
    dfexpt = dfexpt[dfexpt.Term != 'Limit']
    print(f'{len(dfexpt)} experimental levels for {atom} read from "{xl_expt}"')
    # Select by parity
    if parity == 'even':
        # discard odd levels ('Term' field ends with '*')
        dfexpt = dfexpt[~dfexpt.Term.str.contains('\*$')]
    elif parity == 'odd':
        dfexpt = dfexpt[dfexpt.Term.str.contains('\*$')]
    print(f'{len(dfexpt)} levels are of parity "{parity}"')
    # Select terms by energy
    lowTerms = []
    for term, grp in dfexpt.groupby('Term'):
        if (grp[Ecol] < termcut).any():
            lowTerms.append(term)
    print(f'There are {len(lowTerms)} assigned terms with levels below {termcut} cm-1')
    dfexpt = dfexpt[dfexpt.Term.isin(lowTerms)]
    nlevx = len(dfexpt)
    print(f'There are {nlevx} levels of interest')
    # parse 'Term' column to get simplified term labels
    def simplify(term):
        # extract the basic LS part of a decorated term label
        regex = re.compile('\d[SPDF-Z]')
        m = regex.search(term)
        if m:
            return m.group(0)
        else:
            # failed
            return '?'
    dfexpt['Tlbl'] = dfexpt.Term.apply(simplify)
    # Convert experimental 'J' and 'Level' to floats
    for col in ['J', Ecol]:
        dfexpt[col] = dfexpt[col].astype(float)
    # add degeneracy = 2J+1
    dfexpt['degen'] = 2 * dfexpt.J + 1
    display(dfexpt.style.format(fmt))

846 experimental levels for Fe read from "exptl_levels.xlsx"
368 levels are of parity "even"
There are 4 assigned terms with levels below 18000 cm-1
There are 16 levels of interest

### Take assignments at face value, i.e., apply eq. (1)

In [7]:
# No theoretical calculation are needed to use eq. (1)
xterms = []  # list of term labels
eterms = []  # list of term energies
for Term, grp in dfexpt.groupby(['Term']):
    xterms.append(Term)
    emean = np.dot(grp.degen, grp[Ecol]) / grp.degen.sum()
    eterms.append(emean)
dfeq1 = pd.DataFrame({'Term': xterms, 'Eterm': eterms}).sort_values('Eterm').reset_index(drop=True)
print('Term energies (cm-1) using eq. (1)')
display(dfeq1.style.format(fmt))
SOC1 = -1 * np.round(dfeq1.at[0, 'Eterm'], 3)
print(f'The corresponding spin-orbit stabilization energy is SOC1 = {SOC1} cm-1')

Term energies (cm-1) using eq. (1)

The corresponding spin-orbit stabilization energy is SOC1 = -402.961 cm-1

### Specify Molpro SO-CI output file

In [8]:
fsoc = 'fe_15Q21T_ctzdk_x2c.pro'
#fsoc = 'fe_ci_15Q7T_c5zdk_x2c.pro'
#fsoc = 'fe_15Q7T_ctzdk_x2c.pro'

print(f'Reading MOLPRO file "{fsoc}"')
compAtom = mpr.stoichiometry(fsoc)
charge = mpr.total_charge(fsoc)
print(f'The atom is {compAtom} with charge {charge}')
# check for consistency with the experimental data that were read
if charge > 0: 
    compAtom += '+'
elif charge < 0:
    compAtom += '-'
if abs(charge) > 1:
    compAtom += f'{abs(charge)}'
        
if compAtom != atom:
    print(f'*** exptl atom = {atom} is different')
PG = mpr.read_compgroup(fsoc)
print(f'The computational point group is {PG}')

Reading MOLPRO file "fe_15Q21T_ctzdk_x2c.pro"
The atom is Fe with charge 0
The computational point group is Ci

In [9]:
SOCI = mpr.fullmatSOCI(fsoc, atom=True)

Computational group = Ci
CASSCF states:
    15 Quintet
    21 Triplet

In [23]:
SOCraw = SOCI.vals.min()
print(f'From lowest level and lowest uncoupled energy, raw theoretical SOCraw = {SOCraw:.3f} cm-1')

From lowest level and lowest uncoupled energy, raw theoretical SOCraw = -429.076 cm-1

In [10]:
def term_energy_from_levels(df, term, Ecol):
    # Given a DataFrame with the right columns ['J', 'termwt', Ecol],
    #   where 'Ecol' is the header for the column of level energies,
    # Return the term's average energy as derived from the levels
    global SOCI
    # find index for term 'term'
    iterm = SOCI.dfterm[SOCI.dfterm.Term == term].index[0]
    termwt = np.array([twt[iterm] for twt in df.termwt])
    degen = 2 * df.J + 1
    Eterm = (df[Ecol] * termwt * degen).sum()
    Eterm /= np.dot(degen, termwt)  # normalize using level degeneracies
    return Eterm

In [11]:
dflevel = SOCI.assign_atomic_J()
target = '5D'
Eterm = term_energy_from_levels(dflevel, target, 'Erel')
print(f'Using degenerated averages, energy of {target} term = {Eterm:.1f} cm-1')
SOCth = -Eterm
print(f'SOCth = {SOCth:.3f} cm-1')

large non-degeneracies in term energies:

,Spin,Term,Energy,Edav,Dipole,Lz,dipX,dipY,dipZ,Eref,C0
0,Quintet,5F,-1272.066757,-1272.137115,0.0,2.998841,0.0,0.0,0.0,-1271.209106,0.961345
1,Quintet,5F,-1272.066757,-1272.137115,0.0,2.918077,0.0,0.0,0.0,-1271.209106,0.961345
2,Quintet,5F,-1272.066756,-1272.137102,0.0,0.080223,0.0,0.0,0.0,-1271.209106,0.961351
3,Quintet,5F,-1272.066757,-1272.137102,0.0,1.003469,0.0,0.0,0.0,-1271.209106,0.961352
4,Quintet,5F,-1272.066757,-1272.137101,0.0,1.218533,0.0,0.0,0.0,-1271.209106,0.961352
5,Quintet,5F,-1272.066758,-1272.137098,0.0,2.0,0.0,0.0,0.0,-1271.209106,0.961354
6,Quintet,5F,-1272.066757,-1272.137097,0.0,1.99839,0.0,0.0,0.0,-1271.209106,0.961354
7,--,--,0.000001,0.000018,0.0,2.918618,0.0,0.0,0.0,0.0,0.000009

Assigning J using 22 clusters/levels
Using degenerated averages, energy of 5D term = 429.3 cm-1
SOCth = -429.337 cm-1

In [12]:
SOCI.dfterm

,Term,dipZ,Edav,idx,ecm
0,5D,0.0,-1272.176014,"[0, 1, 2, 3, 4]",0.0
1,5F,0.0,-1272.137104,"[7, 6, 11, 9, 10, 5, 8]",8539.8
2,3P,0.0,-1272.088313,"[16, 15, 17]",19248.1
3,5P,0.0,-1272.086669,"[12, 13, 14]",19609.0
4,3H,0.0,-1272.084718,"[19, 18, 23, 20, 21, 25, 26, 27, 24, 22, 28]",20037.1
5,3F,0.0,-1272.080916,"[29, 30, 31, 33, 35, 34, 32]",20871.7

In [13]:
dflevel.style.format(fmt)

In [14]:
# compare experimental levels with corresponding theoretical
warnThresh = 800  # highlight errors larger than this (cm-1)
dfdiff = dfexpt.copy()
dfdiff['Ecalc'] = np.nan
# match computed levels to exptl
print(f'Comparing theoretical levels from {fsoc} with experimental')
print('   Matching levels using J and term composition')
print('   (This will break if term labels are not clear)')
idx = list(dflevel.index)  # list of computed levels
termwt = []  # for arrays of term weights (from theory)
for i, row in dfexpt.iterrows():
    while idx:
        # there are theoretical levels that have not been matched to exptl
        for j in idx.copy():
            if float(row.J) != float(dflevel.at[j, 'J']):
                # values of J must be equal
                #print('>>unequal J: ', row.J, dflevel.loc[j, 'J'])
                continue
            # also require that terms have same label
            if row.Tlbl != dflevel.loc[j, 'Lead']:
                #print('<<unequal term:', row.Term, dflevel.loc[j, 'Leading'])
                continue
            # both J and Term match
            dfdiff.at[i, 'Ecalc'] = dflevel.at[j, 'Erel']
            termwt.append(dflevel.at[j, 'termwt'])
            idx.remove(j)
            break
        else:
            print('Failed to assign any theoretical level to this exptl!')
            display(row.to_frame().T)
        break
dfdiff['err'] = np.round(dfdiff.Ecalc - dfdiff[Ecol], 2)
dfdiff['termwt'] = termwt
# keep only some columns
dfdiff = dfdiff[['Configuration', 'Term', Ecol, 'Leading percentages', 'Tlbl', 'J', 'Ecalc', 'err', 'termwt']]
display(dfdiff.drop('termwt', axis=1).style.apply(lambda x: ["background: yellow" if abs(v) > warnThresh else "" for v in x], 
                  subset=pd.IndexSlice[['err']]).format(fmt))
print(f'Errors > {warnThresh} cm-1 are highlighted')

Comparing theoretical levels from fe_15Q21T_ctzdk_x2c.pro with experimental
   Matching levels using J and minimal term label
   (This will break if term labels are not clear)

Errors > 800 cm-1 are highlighted

In [15]:
# Use experimental level via eq. (2)
Eterm = term_energy_from_levels(dfdiff, target, 'Level (cm-1)')
SOC2 = -Eterm
print(f'Using experimental levels and eq. (2) for term {target}, SOC2 = {SOC2:.1f} cm-1')

Using experimental levels and eq. (2) for term 5D, SOC2 = -411.2 cm-1

In [16]:
# summarize level-energy errors by term
dftermerr = pd.DataFrame(columns=['Term', 'range', 'mean', 'stds'])
for term, grp in dfdiff.groupby('Term'):
    spread = np.round([grp.err.min(), grp.err.max()], 0).astype(int)
    m = grp.err.mean()
    s = grp.err.std()
    dftermerr.loc[len(dftermerr)] = [term, spread, m, s]
if dftermerr.isnull().values.any():
    print('*** Some terms are missing ***')
    print('Try decreasing the energy maximum ("termcut")')
else:
    # round values to nearest 1 cm-1
    dftermerr[['mean', 'stds']] = np.round(dftermerr[['mean', 'stds']], 0).astype(int)
    print(f'{fsoc} errors in level energies (cm-1), grouped by leading term')
    # order same as experimental terms
    dftermerr.Term = pd.Categorical(dftermerr.Term, xterms)
    dftermerr = dftermerr.sort_values('Term')
dftermerr

fe_15Q21T_ctzdk_x2c.pro errors in level energies (cm-1), grouped by leading term

   Term         range  mean  stds
0  a 3F  [8516, 9214]  8841   352
1  a 5D       [0, 16]     9     7
2  a 5F  [1485, 1555]  1520    28
3  a 5P  [2318, 2397]  2355    40

In [19]:
print(f'Distribution of term "{target}" among levels:')
itarget = SOCI.dfterm[SOCI.dfterm.Term == target].index[0]
dflevel[target] = [twt[itarget] for twt in dflevel.termwt]
display(dflevel.drop(['termwt', 'Composition'], axis=1).sort_values(target, ascending=False).style.format(fmt))
print(f'Total weight of {target} = {dflevel[target].sum():.3f}')

Distribution of term "5D" among levels:

Total weight of 5D = 5.000

In [24]:
print(f'Molpro source file: {fsoc}')
print(f'Alternative values for SOC({target}) of atom {atom}:')
print('-' * 25)
print('{:12s} {:.1f} cm-1'.format('eq (1)', SOC1))
print('{:12s} {:.1f} cm-1'.format('raw theory', SOCraw))
print('{:12s} {:.1f} cm-1'.format('avgd theory', SOCth))
print('{:12s} {:.1f} cm-1'.format('eq (2)', SOC2))
print('-' * 25)

Molpro source file: fe_15Q21T_ctzdk_x2c.pro
Alternative values for SOC(5D) of atom Fe:
-------------------------
eq (1)       -403.0 cm-1
raw theory   -429.1 cm-1
avgd theory  -429.3 cm-1
eq (2)       -411.2 cm-1
-------------------------