In [1]:
# Extract SOC information from MOLPRO outputs for atoms
# This version to handle multiple terms with the same label
# KKI 6/22/23
import re, sys, glob, subprocess
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from collections import Counter
from sklearn.cluster import KMeans

#sys.path.insert(0, '../karlib')
import chem_subs as chem
import molpro_subs as mpr

pd.set_option('display.max_rows', None)
np.set_printoptions(suppress=True)

In [2]:
# Excel spreadsheet of experimental levels from https://physics.nist.gov/PhysRefData/ASD/levels_form.html
#   Download as CSV; paste into a column in Excel; use Data -> Text to Columns -> Delimited -> Comma
#   Rename that worksheet with a name like "Fe" or "Fe+"
# Note that experimental levels might not be listed by increasing energy
xl_expt = 'exptl_levels.xlsx'
xl = pd.ExcelFile(xl_expt, engine='openpyxl')

### Select atom and parity of interest

In [3]:
atom = 'Ni'  # a name like "Fe" or "Fe+"
parity = 'even'  #  choose 'even' or 'odd' or 'both'
keep_metastable = False  # whether to discard levels above the ionization limit

### Select energy maximum for experimental terms

In [4]:
# In case of errors, try making this larger or smaller to match the theoretical calculation
termcut = 25000  # discard terms that lack levels below this energy (cm-1)

In [5]:
Ecol = 'Level (cm-1)'  # the exptl energy column
# display formatting
fmt = {'Eshift': '{:.1f}', Ecol: '{:.3f}', 'Pct': '{:.3f}', 'degen': '{:.0f}'}
for col in ['J', 'Ecalc', 'E_dif', 'Erel', 'Eshift', 'err', 'Eterm', 'Elev', 'wmean', 'wstds', 
            'uwmean', 'uwstds']:
    fmt[col] =  fmt['Eshift']

In [6]:
if atom not in xl.sheet_names:
    print(f'No experimental data sheet for {atom}!')
else:
    dfexpt = pd.read_excel(xl, atom, engine='openpyxl')
    # Delete any ionization limit
    ilim = dfexpt[dfexpt.Term == 'Limit'].index.min()
    # delete the "Limit" row
    dfexpt = dfexpt[dfexpt.Term != 'Limit']
    if not keep_metastable:
        # delete everything past the Limit
        n1 = len(dfexpt)
        dfexpt = dfexpt.truncate(after=ilim)
        n2 = len(dfexpt)
        if n2 < n1:
            print(f'Discarded {n1-n2} metastable states')
    dfeven = dfexpt[~dfexpt.Term.str.contains('\*$')].copy()
    dfodd = dfexpt[dfexpt.Term.str.contains('\*$')].copy()
    print(f'{len(dfexpt)} experimental levels ({len(dfeven)} even and {len(dfodd)} odd) for {atom} read from "{xl_expt}"')
    # Select by parity
    if parity == 'even':
        # discard odd levels ('Term' field ends with '*')
        dfexpt = dfeven.copy()
    elif parity == 'odd':
        dfexpt = dfodd.copy()
    print(f'{len(dfexpt)} levels are of parity "{parity}"')
# sort by term label and then by energy
dfexpt = dfexpt.sort_values(['Term', Ecol])
display(dfexpt)

Discarded 2 metastable states
285 experimental levels (128 even and 157 odd) for Ni read from "exptl_levels.xlsx"
128 levels are of parity "even"

,Configuration,Term,J,Prefix,Level (cm-1),Suffix,Uncertainty (cm-1),Lande,Leading percentages,Reference
6,3d9.(2D).4s,1D,2,NaN,3409.937,NaN,NaN,1.01297,89 : 9 3d9.(2D).4s ...,NaN
7,3d8.(1D).4s2,1D,2,NaN,13521.347,NaN,NaN,1.14300,77 : 19 3d8.(3P).4s2 ...,NaN
144,3d8.4s.(2F).5s,1F,3,NaN,54251.308,NaN,NaN,NaN,64 : 20 3d8.4s.(2F).5s ...,NaN
12,3d8.(1G).4s2,1G,4,NaN,22102.325,NaN,NaN,0.99000,97,NaN
8,3d10,1S,0,NaN,14728.840,NaN,NaN,NaN,94,NaN
121,3d8.(1S).4s2,1S,0,NaN,50276.321,NaN,NaN,NaN,90,NaN
104,3d9.(2D<5/2>).4d,2[1/2],1,NaN,48953.316,NaN,NaN,1.92000,99,NaN
105,3d9.(2D<5/2>).4d,2[1/2],0,NaN,49610.345,NaN,NaN,NaN,74 : 22 3d9.(2D<5/2>).4d ...,NaN
126,3d9.(2D<3/2>).4d,2[1/2],1,NaN,50536.703,NaN,NaN,1.54000,99,NaN
127,3d9.(2D<3/2>).4d,2[1/2],0,NaN,51457.250,NaN,NaN,NaN,67 : 19 3d9.(2D<5/2>).4d ...,NaN
152,3d9.(2D<5/2>).5d,2[1/2],1,NaN,54574.645,NaN,NaN,NaN,99,NaN
153,3d9.(2D<5/2>).5d,2[1/2],0,NaN,55015.084,NaN,NaN,NaN,77 : 19 3d9.(2D<3/2>).5d ...,NaN
195,3d9.(2D<3/2>).5d,2[1/2],1,NaN,56107.926,NaN,NaN,NaN,99,NaN
196,3d9.(2D<3/2>).5d,2[1/2],0,NaN,56400.769,NaN,NaN,NaN,65 : 25 3d9.(2D<5/2>).6d ...,NaN
257,3d8.4s.(4F<5/2>).4d,2[1/2],0,NaN,58448.760,NaN,NaN,NaN,94,NaN
258,3d8.4s.(4F<5/2>).4d,2[1/2],1,NaN,58525.451,NaN,NaN,NaN,49 : 45 3d8.4s.(4F<5/2>).4d ...,NaN
219,3d8.4s.(4F<9/2>).4d,2[11/2],5,NaN,56801.586,NaN,NaN,NaN,92,NaN
220,3d8.4s.(4F<9/2>).4d,2[11/2],6,NaN,56954.098,NaN,NaN,NaN,97,NaN
236,3d9.(2D<5/2>).5g,2[11/2],6,NaN,57228.795,NaN,NaN,NaN,100,NaN
237,3d9.(2D<5/2>).5g,2[11/2],5,NaN,57228.799,NaN,NaN,NaN,100,NaN
247,3d8.4s.(4F<7/2>).4d,2[11/2],5,NaN,57677.575,NaN,NaN,NaN,91,NaN
248,3d8.4s.(4F<7/2>).4d,2[11/2],6,NaN,57762.039,NaN,NaN,NaN,95,NaN
269,3d9.(2D<3/2>).5g,2[11/2],5,NaN,58730.673,NaN,NaN,NaN,100,NaN
270,3d9.(2D<3/2>).5g,2[11/2],6,NaN,58730.678,NaN,NaN,NaN,100,NaN
213,3d8.4s.(4F<9/2>).4d,2[13/2],6,NaN,56624.599,NaN,NaN,NaN,93,NaN
214,3d8.4s.(4F<9/2>).4d,2[13/2],7,NaN,56885.215,NaN,NaN,NaN,100,NaN
230,3d9.(2D<5/2>).5g,2[13/2],6,NaN,57222.736,NaN,NaN,NaN,100,NaN
231,3d9.(2D<5/2>).5g,2[13/2],7,NaN,57222.739,NaN,NaN,NaN,100,NaN
81,3d9.(2D<3/2>).5s,2[3/2],1,NaN,44112.173,NaN,NaN,1.09000,100,NaN
82,3d9.(2D<3/2>).5s,2[3/2],2,NaN,44262.599,NaN,NaN,NaN,99,NaN
109,3d9.(2D<5/2>).4d,2[3/2],2,NaN,49159.030,NaN,NaN,1.43000,98,NaN
110,3d9.(2D<5/2>).4d,2[3/2],1,NaN,49171.151,NaN,NaN,1.00000,99,NaN
130,3d9.(2D<3/2>).4d,2[3/2],1,NaN,50716.896,NaN,NaN,NaN,94,NaN
131,3d9.(2D<3/2>).4d,2[3/2],2,NaN,50754.103,NaN,NaN,NaN,98,NaN
139,3d9.(2D<3/2>).6s,2[3/2],1,NaN,53703.851,NaN,NaN,NaN,100,NaN
140,3d9.(2D<3/2>).6s,2[3/2],2,NaN,53753.982,NaN,NaN,NaN,100,NaN
154,3d9.(2D<5/2>).5d,2[3/2],1,NaN,54659.538,NaN,NaN,NaN,...,NaN
155,3d9.(2D<5/2>).5d,2[3/2],2,NaN,54667.300,NaN,NaN,NaN,96,NaN
199,3d9.(2D<3/2>).5d,2[3/2],1,NaN,56188.716,NaN,NaN,NaN,94,NaN
200,3d9.(2D<3/2>).5d,2[3/2],2,NaN,56201.319,NaN,NaN,NaN,99,NaN
228,3d9.(2D<5/2>).5g,2[3/2],1,NaN,57219.635,NaN,NaN,NaN,100,NaN
229,3d9.(2D<5/2>).5g,2[3/2],2,NaN,57219.639,NaN,NaN,NaN,100,NaN
242,3d9.(2D<3/2>).7s,2[3/2],1,NaN,57481.932,NaN,NaN,NaN,98,NaN
243,3d9.(2D<3/2>).7s,2[3/2],2,NaN,57505.046,NaN,NaN,NaN,99,NaN
249,3d8.4s.(4F<7/2>).4d,2[3/2],2,NaN,57700.590,NaN,NaN,NaN,73 : 21 3d8.4s.(4F<7/2>).4d ...,NaN
250,3d8.4s.(4F<7/2>).4d,2[3/2],1,NaN,57767.467,NaN,NaN,NaN,90,NaN
282,3d8.4s.(4F<3/2>).4d,2[3/2],2,NaN,59117.984,NaN,NaN,NaN,64 : 24 3d8.4s.(4F<3/2>).4d ...,NaN
283,3d8.4s.(4F<3/2>).4d,2[3/2],1,NaN,59221.244,NaN,NaN,NaN,53 : 46 3d8.4s.(4F<3/2>).4d ...,NaN
59,3d9.(2D<5/2>).5s,2[5/2],3,NaN,42605.945,NaN,NaN,1.34000,100,NaN
60,3d9.(2D<5/2>).5s,2[5/2],2,NaN,42790.010,NaN,NaN,1.08500,99,NaN
112,3d9.(2D<5/2>).4d,2[5/2],3,NaN,49271.540,NaN,NaN,1.32000,99,NaN
113,3d9.(2D<5/2>).4d,2[5/2],2,NaN,49327.811,NaN,NaN,NaN,98,NaN
135,3d9.(2D<3/2>).4d,2[5/2],3,NaN,50832.001,NaN,NaN,NaN,99,NaN
136,3d9.(2D<3/2>).4d,2[5/2],2,NaN,50834.401,NaN,NaN,NaN,97,NaN
137,3d9.(2D<5/2>).6s,2[5/2],3,NaN,52197.444,NaN,NaN,NaN,100,NaN
138,3d9.(2D<5/2>).6s,2[5/2],2,NaN,52271.680,NaN,NaN,NaN,100,NaN
160,3d9.(2D<5/2>).5d,2[5/2],3,NaN,54699.809,NaN,NaN,NaN,97,NaN
161,3d9.(2D<5/2>).5d,2[5/2],2,NaN,54732.371,NaN,NaN,NaN,96,NaN
191,3d9.(2D<5/2>).7s,2[5/2],3,NaN,55971.345,NaN,NaN,NaN,99,NaN
192,3d9.(2D<5/2>).7s,2[5/2],2,NaN,56021.949,NaN,NaN,1.03000,99,NaN
209,3d9.(2D<3/2>).5d,2[5/2],3,NaN,56262.913,NaN,NaN,NaN,97,NaN
210,3d9.(2D<3/2>).5d,2[5/2],2,NaN,56274.446,NaN,NaN,NaN,91,NaN
215,3d8.4s.(4F<9/2>).4d,2[5/2],2,NaN,56710.829,NaN,NaN,NaN,93,NaN
216,3d8.4s.(4F<9/2>).4d,2[5/2],3,NaN,56821.487,NaN,NaN,NaN,94 : 6 3d8.4s.(4F<9/2>).4d ...,NaN
232,3d9.(2D<5/2>).5g,2[5/2],2,NaN,57223.409,NaN,NaN,NaN,100,NaN
233,3d9.(2D<5/2>).5g,2[5/2],3,NaN,57223.412,NaN,NaN,NaN,100,NaN
251,3d8.4s.(4F<7/2>).4d,2[5/2],3,NaN,57743.536,NaN,NaN,NaN,88 : 7 3d8.4s.(4F<7/2>).4d ...,NaN
252,3d8.4s.(4F<7/2>).4d,2[5/2],2,NaN,58005.276,NaN,NaN,NaN,69 : 20 3d8.4s.(4F<7/2>).4d ...,NaN
263,3d8.4s.(4F<5/2>).4d,2[5/2],3,NaN,58588.111,NaN,NaN,NaN,67 : 29 3d8.4s.(4F<5/2>).4d ...,NaN
264,3d8.4s.(4F<5/2>).4d,2[5/2],2,NaN,58629.854,NaN,NaN,NaN,92,NaN
267,3d9.(2D<3/2>).5g,2[5/2],2,NaN,58728.539,NaN,NaN,NaN,100,NaN
268,3d9.(2D<3/2>).5g,2[5/2],3,NaN,58728.563,NaN,NaN,NaN,100,NaN
279,3d8.4s.(4F<3/2>).4d,2[5/2],2,NaN,59007.955,NaN,NaN,NaN,72 : 27 3d8.4s.(4F<3/2>).4d ...,NaN
114,3d9.(2D<5/2>).4d,2[7/2],3,NaN,49313.814,NaN,NaN,NaN,98,NaN
115,3d9.(2D<5/2>).4d,2[7/2],4,NaN,49332.593,NaN,NaN,NaN,93,NaN
128,3d9.(2D<3/2>).4d,2[7/2],3,NaN,50677.555,NaN,NaN,1.02000,99,NaN
129,3d9.(2D<3/2>).4d,2[7/2],4,NaN,50706.273,NaN,NaN,NaN,98,NaN
172,3d9.(2D<5/2>).5d,2[7/2],4,NaN,54761.289,NaN,NaN,NaN,95,NaN
173,3d9.(2D<5/2>).5d,2[7/2],3,NaN,54772.137,NaN,NaN,NaN,92,NaN
197,3d9.(2D<3/2>).5d,2[7/2],3,NaN,56172.657,NaN,NaN,NaN,100,NaN
198,3d9.(2D<3/2>).5d,2[7/2],4,NaN,56183.497,NaN,NaN,NaN,100,NaN
221,3d8.4s.(4F<9/2>).4d,2[7/2],4,NaN,56857.884,NaN,NaN,NaN,90 : 10 3d8.4s.(4F<9/2>).4d ...,NaN
222,3d8.4s.(4F<9/2>).4d,2[7/2],3,NaN,57103.880,NaN,NaN,NaN,83 : 6 3d8.4s.(4F<9/2>).4d ...,NaN
234,3d9.(2D<5/2>).5g,2[7/2],3,NaN,57227.183,NaN,NaN,NaN,100,NaN
235,3d9.(2D<5/2>).5g,2[7/2],4,NaN,57227.187,NaN,NaN,NaN,100,NaN
255,3d8.4s.(4F<7/2>).4d,2[7/2],4,NaN,57810.438,NaN,NaN,NaN,90 : 6 3d8.4s.(4F<7/2>).4d ...,NaN
256,3d8.4s.(4F<7/2>).4d,2[7/2],3,NaN,58039.486,NaN,NaN,NaN,82 : 8 3d8.4s.(4F<7/2>).4d ...,NaN
261,3d8.4s.(4F<5/2>).4d,2[7/2],4,NaN,58579.787,NaN,NaN,NaN,88 : 7 3d8.4s.(4F<5/2>).4d ...,NaN
262,3d8.4s.(4F<5/2>).4d,2[7/2],3,NaN,58629.465,NaN,NaN,NaN,66 : 29 3d8.4s.(4F<5/2>).4d ...,NaN
271,3d9.(2D<3/2>).5g,2[7/2],4,NaN,58734.566,NaN,NaN,NaN,100,NaN
272,3d9.(2D<3/2>).5g,2[7/2],3,NaN,58734.572,NaN,NaN,NaN,100,NaN
280,3d8.4s.(4F<3/2>).4d,2[7/2],4,NaN,59039.633,NaN,NaN,NaN,92,NaN
281,3d8.4s.(4F<3/2>).4d,2[7/2],3,NaN,59188.721,NaN,NaN,NaN,68 : 31 3d8.4s.(4F<3/2>).4d ...,NaN
107,3d9.(2D<5/2>).4d,2[9/2],5,NaN,49158.480,NaN,NaN,1.20000,100,NaN
108,3d9.(2D<5/2>).4d,2[9/2],4,NaN,49174.770,NaN,NaN,1.05000,99,NaN
156,3d9.(2D<5/2>).5d,2[9/2],5,NaN,54659.709,NaN,NaN,1.07000,100,NaN
157,3d9.(2D<5/2>).5d,2[9/2],4,NaN,54667.300,NaN,NaN,NaN,100,NaN
217,3d8.4s.(4F<9/2>).4d,2[9/2],4,NaN,56766.480,NaN,NaN,NaN,87 : 10 3d8.4s.(4F<9/2>).4d ...,NaN
218,3d8.4s.(4F<9/2>).4d,2[9/2],5,NaN,56973.654,NaN,NaN,NaN,95,NaN
238,3d9.(2D<5/2>).5g,2[9/2],5,NaN,57229.556,NaN,NaN,NaN,100,NaN
239,3d9.(2D<5/2>).5g,2[9/2],4,NaN,57229.559,NaN,NaN,NaN,100,NaN
253,3d8.4s.(4F<7/2>).4d,2[9/2],4,NaN,57789.532,NaN,NaN,NaN,90 : 6 3d8.4s.(4F<7/2>).4d ...,NaN
254,3d8.4s.(4F<7/2>).4d,2[9/2],5,NaN,57829.332,NaN,NaN,NaN,91,NaN
259,3d8.4s.(4F<5/2>).4d,2[9/2],4,NaN,58518.114,NaN,NaN,NaN,87 : 6 3d8.4s.(4F<5/2>).4d ...,NaN
260,3d8.4s.(4F<5/2>).4d,2[9/2],5,NaN,58520.863,NaN,NaN,NaN,95,NaN
273,3d9.(2D<3/2>).5g,2[9/2],5,NaN,58736.621,NaN,NaN,NaN,100,NaN
274,3d9.(2D<3/2>).5g,2[9/2],4,NaN,58736.719,NaN,NaN,NaN,100,NaN
3,3d9.(2D).4s,3D,3,NaN,204.787,NaN,NaN,1.33354,99,NaN
4,3d9.(2D).4s,3D,2,NaN,879.816,NaN,NaN,1.15105,90 : 9 3d9.(2D).4s ...,NaN
5,3d9.(2D).4s,3D,1,NaN,1713.087,NaN,NaN,0.49804,99,NaN
0,3d8.(3F).4s2,3F,4,NaN,0.000,NaN,NaN,1.24965,97,L11151
1,3d8.(3F).4s2,3F,3,NaN,1332.164,NaN,NaN,1.08280,97,NaN
2,3d8.(3F).4s2,3F,2,NaN,2216.550,NaN,NaN,0.66956,96,NaN
123,3d8.4s.(4F).5s,3F,4,NaN,50466.131,NaN,NaN,NaN,85 : 12 3d8.4s.(4F).5s ...,NaN
124,3d8.4s.(4F).5s,3F,3,NaN,51306.038,NaN,NaN,NaN,80 : 10 3d8.4s.(4F).5s ...,NaN
125,3d8.4s.(4F).5s,3F,2,NaN,52040.523,NaN,NaN,NaN,88 : 7 3d8.4s.(2F).5s ...,NaN
141,3d8.4s.(2F).5s,3F,4,NaN,54237.099,NaN,NaN,1.27000,93,NaN
142,3d8.4s.(2F).5s,3F,3,NaN,55576.843,NaN,NaN,1.00000,69 : 26 3d8.4s.(2F).5s ...,NaN
143,3d8.4s.(2F).5s,3F,2,NaN,55920.485,NaN,NaN,NaN,84 : 7 3d8.4s.(4F).5s ...,NaN
9,3d8.(3P).4s2,3P,2,NaN,15609.844,NaN,NaN,1.35600,78 : 18 3d8.(1D).4s2 ...,NaN
10,3d8.(3P).4s2,3P,1,NaN,15734.001,NaN,NaN,1.49700,97,NaN
11,3d8.(3P).4s2,3P,0,NaN,16017.306,NaN,NaN,NaN,96,NaN
91,3d8.4s.(4F).5s,5F,5,NaN,48466.490,NaN,NaN,1.40000,100,NaN
92,3d8.4s.(4F).5s,5F,4,NaN,49085.982,NaN,NaN,1.33000,80 : 11 3d8.4s.(4F).5s ...,NaN
93,3d8.4s.(4F).5s,5F,3,NaN,49777.569,NaN,NaN,1.23000,88 : 8 3d8.4s.(4F).5s ...,NaN
94,3d8.4s.(4F).5s,5F,2,NaN,50346.427,NaN,NaN,0.95000,94,NaN
95,3d8.4s.(4F).5s,5F,1,NaN,50744.552,NaN,NaN,0.20000,93,NaN
284,3d8.(3F).4s.(4F).6s,5F,5,NaN,59862.611,NaN,NaN,NaN,...,NaN

In [7]:
# Print any unrecognized term labels
for trm in dfexpt.Term:
    try:
        chem.possible_J_from_ASD_label(trm)
    except:
        print(trm)

In [8]:
# Assign unique labels to experimental terms
#   levels from ASD are usually grouped by term, but not always
uterm = []  # unique terms
uidx = []   # list of list of rows that belong to each unique term
jvals = []  # list of J values for current term
idx = []    # list of rows for current term
curterm = None
problems = 0

for irow, row in dfexpt.iterrows():
    trm = row.Term
    J = chem.halves_to_float(row.J)
    if (trm != curterm) or (len(jvals) == 0):
        if len(jvals) > 0:
            print(f'Unused J values for term {curterm} before irow = {irow}: {jvals}')
            problems += 1
        # close out previous term
        if idx:
            uidx.append(idx)
        # start a new term
        curterm = trm
        uterm.append(trm)
        idx = [irow]   # row numbers for current term
        jvals = list(chem.possible_J_from_ASD_label(trm))
        if J in jvals:
            jvals.remove(J)
        else:
            print(f'Unexpected J = {J} not in {jvals} for term {curterm} near E ~ {row[Ecol]}')
            problems += 1
    else:
        # continuation of term
        idx.append(irow)
        if J in jvals:
            jvals.remove(J)
        else:
            print(f'Unexpected J = {J} for term {curterm} near E ~ {row[Ecol]}')
            problems += 1
if len(jvals):
    # leftover rows from last term
    uidx.append(idx)
dfexpt['uTerm'] = None
eterm = chem.enumerative_prefix(uterm)
for iterm, idx in enumerate(uidx):
    for i in idx:
        dfexpt.at[i, 'uTerm'] = eterm[iterm]
if problems:
    print('*** uTerm groupings may be wrong!  ***')
    display(dfexpt)

Unused J values for term 2[5/2] before irow = 114: [3.0]
*** uTerm groupings may be wrong!  ***

,Configuration,Term,J,Prefix,Level (cm-1),Suffix,Uncertainty (cm-1),Lande,Leading percentages,Reference,uTerm
6,3d9.(2D).4s,1D,2,NaN,3409.937,NaN,NaN,1.01297,89 : 9 3d9.(2D).4s ...,NaN,(1)1D
7,3d8.(1D).4s2,1D,2,NaN,13521.347,NaN,NaN,1.14300,77 : 19 3d8.(3P).4s2 ...,NaN,(2)1D
144,3d8.4s.(2F).5s,1F,3,NaN,54251.308,NaN,NaN,NaN,64 : 20 3d8.4s.(2F).5s ...,NaN,1F
12,3d8.(1G).4s2,1G,4,NaN,22102.325,NaN,NaN,0.99000,97,NaN,1G
8,3d10,1S,0,NaN,14728.840,NaN,NaN,NaN,94,NaN,(1)1S
121,3d8.(1S).4s2,1S,0,NaN,50276.321,NaN,NaN,NaN,90,NaN,(2)1S
104,3d9.(2D<5/2>).4d,2[1/2],1,NaN,48953.316,NaN,NaN,1.92000,99,NaN,(1)2[1/2]
105,3d9.(2D<5/2>).4d,2[1/2],0,NaN,49610.345,NaN,NaN,NaN,74 : 22 3d9.(2D<5/2>).4d ...,NaN,(1)2[1/2]
126,3d9.(2D<3/2>).4d,2[1/2],1,NaN,50536.703,NaN,NaN,1.54000,99,NaN,(2)2[1/2]
127,3d9.(2D<3/2>).4d,2[1/2],0,NaN,51457.250,NaN,NaN,NaN,67 : 19 3d9.(2D<5/2>).4d ...,NaN,(2)2[1/2]
152,3d9.(2D<5/2>).5d,2[1/2],1,NaN,54574.645,NaN,NaN,NaN,99,NaN,(3)2[1/2]
153,3d9.(2D<5/2>).5d,2[1/2],0,NaN,55015.084,NaN,NaN,NaN,77 : 19 3d9.(2D<3/2>).5d ...,NaN,(3)2[1/2]
195,3d9.(2D<3/2>).5d,2[1/2],1,NaN,56107.926,NaN,NaN,NaN,99,NaN,(4)2[1/2]
196,3d9.(2D<3/2>).5d,2[1/2],0,NaN,56400.769,NaN,NaN,NaN,65 : 25 3d9.(2D<5/2>).6d ...,NaN,(4)2[1/2]
257,3d8.4s.(4F<5/2>).4d,2[1/2],0,NaN,58448.760,NaN,NaN,NaN,94,NaN,(5)2[1/2]
258,3d8.4s.(4F<5/2>).4d,2[1/2],1,NaN,58525.451,NaN,NaN,NaN,49 : 45 3d8.4s.(4F<5/2>).4d ...,NaN,(5)2[1/2]
219,3d8.4s.(4F<9/2>).4d,2[11/2],5,NaN,56801.586,NaN,NaN,NaN,92,NaN,(1)2[11/2]
220,3d8.4s.(4F<9/2>).4d,2[11/2],6,NaN,56954.098,NaN,NaN,NaN,97,NaN,(1)2[11/2]
236,3d9.(2D<5/2>).5g,2[11/2],6,NaN,57228.795,NaN,NaN,NaN,100,NaN,(2)2[11/2]
237,3d9.(2D<5/2>).5g,2[11/2],5,NaN,57228.799,NaN,NaN,NaN,100,NaN,(2)2[11/2]
247,3d8.4s.(4F<7/2>).4d,2[11/2],5,NaN,57677.575,NaN,NaN,NaN,91,NaN,(3)2[11/2]
248,3d8.4s.(4F<7/2>).4d,2[11/2],6,NaN,57762.039,NaN,NaN,NaN,95,NaN,(3)2[11/2]
269,3d9.(2D<3/2>).5g,2[11/2],5,NaN,58730.673,NaN,NaN,NaN,100,NaN,(4)2[11/2]
270,3d9.(2D<3/2>).5g,2[11/2],6,NaN,58730.678,NaN,NaN,NaN,100,NaN,(4)2[11/2]
213,3d8.4s.(4F<9/2>).4d,2[13/2],6,NaN,56624.599,NaN,NaN,NaN,93,NaN,(1)2[13/2]
214,3d8.4s.(4F<9/2>).4d,2[13/2],7,NaN,56885.215,NaN,NaN,NaN,100,NaN,(1)2[13/2]
230,3d9.(2D<5/2>).5g,2[13/2],6,NaN,57222.736,NaN,NaN,NaN,100,NaN,(2)2[13/2]
231,3d9.(2D<5/2>).5g,2[13/2],7,NaN,57222.739,NaN,NaN,NaN,100,NaN,(2)2[13/2]
81,3d9.(2D<3/2>).5s,2[3/2],1,NaN,44112.173,NaN,NaN,1.09000,100,NaN,(1)2[3/2]
82,3d9.(2D<3/2>).5s,2[3/2],2,NaN,44262.599,NaN,NaN,NaN,99,NaN,(1)2[3/2]
109,3d9.(2D<5/2>).4d,2[3/2],2,NaN,49159.030,NaN,NaN,1.43000,98,NaN,(2)2[3/2]
110,3d9.(2D<5/2>).4d,2[3/2],1,NaN,49171.151,NaN,NaN,1.00000,99,NaN,(2)2[3/2]
130,3d9.(2D<3/2>).4d,2[3/2],1,NaN,50716.896,NaN,NaN,NaN,94,NaN,(3)2[3/2]
131,3d9.(2D<3/2>).4d,2[3/2],2,NaN,50754.103,NaN,NaN,NaN,98,NaN,(3)2[3/2]
139,3d9.(2D<3/2>).6s,2[3/2],1,NaN,53703.851,NaN,NaN,NaN,100,NaN,(4)2[3/2]
140,3d9.(2D<3/2>).6s,2[3/2],2,NaN,53753.982,NaN,NaN,NaN,100,NaN,(4)2[3/2]
154,3d9.(2D<5/2>).5d,2[3/2],1,NaN,54659.538,NaN,NaN,NaN,...,NaN,(5)2[3/2]
155,3d9.(2D<5/2>).5d,2[3/2],2,NaN,54667.300,NaN,NaN,NaN,96,NaN,(5)2[3/2]
199,3d9.(2D<3/2>).5d,2[3/2],1,NaN,56188.716,NaN,NaN,NaN,94,NaN,(6)2[3/2]
200,3d9.(2D<3/2>).5d,2[3/2],2,NaN,56201.319,NaN,NaN,NaN,99,NaN,(6)2[3/2]
228,3d9.(2D<5/2>).5g,2[3/2],1,NaN,57219.635,NaN,NaN,NaN,100,NaN,(7)2[3/2]
229,3d9.(2D<5/2>).5g,2[3/2],2,NaN,57219.639,NaN,NaN,NaN,100,NaN,(7)2[3/2]
242,3d9.(2D<3/2>).7s,2[3/2],1,NaN,57481.932,NaN,NaN,NaN,98,NaN,(8)2[3/2]
243,3d9.(2D<3/2>).7s,2[3/2],2,NaN,57505.046,NaN,NaN,NaN,99,NaN,(8)2[3/2]
249,3d8.4s.(4F<7/2>).4d,2[3/2],2,NaN,57700.590,NaN,NaN,NaN,73 : 21 3d8.4s.(4F<7/2>).4d ...,NaN,(9)2[3/2]
250,3d8.4s.(4F<7/2>).4d,2[3/2],1,NaN,57767.467,NaN,NaN,NaN,90,NaN,(9)2[3/2]
282,3d8.4s.(4F<3/2>).4d,2[3/2],2,NaN,59117.984,NaN,NaN,NaN,64 : 24 3d8.4s.(4F<3/2>).4d ...,NaN,(10)2[3/2]
283,3d8.4s.(4F<3/2>).4d,2[3/2],1,NaN,59221.244,NaN,NaN,NaN,53 : 46 3d8.4s.(4F<3/2>).4d ...,NaN,(10)2[3/2]
59,3d9.(2D<5/2>).5s,2[5/2],3,NaN,42605.945,NaN,NaN,1.34000,100,NaN,(1)2[5/2]
60,3d9.(2D<5/2>).5s,2[5/2],2,NaN,42790.010,NaN,NaN,1.08500,99,NaN,(1)2[5/2]
112,3d9.(2D<5/2>).4d,2[5/2],3,NaN,49271.540,NaN,NaN,1.32000,99,NaN,(2)2[5/2]
113,3d9.(2D<5/2>).4d,2[5/2],2,NaN,49327.811,NaN,NaN,NaN,98,NaN,(2)2[5/2]
135,3d9.(2D<3/2>).4d,2[5/2],3,NaN,50832.001,NaN,NaN,NaN,99,NaN,(3)2[5/2]
136,3d9.(2D<3/2>).4d,2[5/2],2,NaN,50834.401,NaN,NaN,NaN,97,NaN,(3)2[5/2]
137,3d9.(2D<5/2>).6s,2[5/2],3,NaN,52197.444,NaN,NaN,NaN,100,NaN,(4)2[5/2]
138,3d9.(2D<5/2>).6s,2[5/2],2,NaN,52271.680,NaN,NaN,NaN,100,NaN,(4)2[5/2]
160,3d9.(2D<5/2>).5d,2[5/2],3,NaN,54699.809,NaN,NaN,NaN,97,NaN,(5)2[5/2]
161,3d9.(2D<5/2>).5d,2[5/2],2,NaN,54732.371,NaN,NaN,NaN,96,NaN,(5)2[5/2]
191,3d9.(2D<5/2>).7s,2[5/2],3,NaN,55971.345,NaN,NaN,NaN,99,NaN,(6)2[5/2]
192,3d9.(2D<5/2>).7s,2[5/2],2,NaN,56021.949,NaN,NaN,1.03000,99,NaN,(6)2[5/2]
209,3d9.(2D<3/2>).5d,2[5/2],3,NaN,56262.913,NaN,NaN,NaN,97,NaN,(7)2[5/2]
210,3d9.(2D<3/2>).5d,2[5/2],2,NaN,56274.446,NaN,NaN,NaN,91,NaN,(7)2[5/2]
215,3d8.4s.(4F<9/2>).4d,2[5/2],2,NaN,56710.829,NaN,NaN,NaN,93,NaN,(8)2[5/2]
216,3d8.4s.(4F<9/2>).4d,2[5/2],3,NaN,56821.487,NaN,NaN,NaN,94 : 6 3d8.4s.(4F<9/2>).4d ...,NaN,(8)2[5/2]
232,3d9.(2D<5/2>).5g,2[5/2],2,NaN,57223.409,NaN,NaN,NaN,100,NaN,(9)2[5/2]
233,3d9.(2D<5/2>).5g,2[5/2],3,NaN,57223.412,NaN,NaN,NaN,100,NaN,(9)2[5/2]
251,3d8.4s.(4F<7/2>).4d,2[5/2],3,NaN,57743.536,NaN,NaN,NaN,88 : 7 3d8.4s.(4F<7/2>).4d ...,NaN,(10)2[5/2]
252,3d8.4s.(4F<7/2>).4d,2[5/2],2,NaN,58005.276,NaN,NaN,NaN,69 : 20 3d8.4s.(4F<7/2>).4d ...,NaN,(10)2[5/2]
263,3d8.4s.(4F<5/2>).4d,2[5/2],3,NaN,58588.111,NaN,NaN,NaN,67 : 29 3d8.4s.(4F<5/2>).4d ...,NaN,(11)2[5/2]
264,3d8.4s.(4F<5/2>).4d,2[5/2],2,NaN,58629.854,NaN,NaN,NaN,92,NaN,(11)2[5/2]
267,3d9.(2D<3/2>).5g,2[5/2],2,NaN,58728.539,NaN,NaN,NaN,100,NaN,(12)2[5/2]
268,3d9.(2D<3/2>).5g,2[5/2],3,NaN,58728.563,NaN,NaN,NaN,100,NaN,(12)2[5/2]
279,3d8.4s.(4F<3/2>).4d,2[5/2],2,NaN,59007.955,NaN,NaN,NaN,72 : 27 3d8.4s.(4F<3/2>).4d ...,NaN,(13)2[5/2]
114,3d9.(2D<5/2>).4d,2[7/2],3,NaN,49313.814,NaN,NaN,NaN,98,NaN,(1)2[7/2]
115,3d9.(2D<5/2>).4d,2[7/2],4,NaN,49332.593,NaN,NaN,NaN,93,NaN,(1)2[7/2]
128,3d9.(2D<3/2>).4d,2[7/2],3,NaN,50677.555,NaN,NaN,1.02000,99,NaN,(2)2[7/2]
129,3d9.(2D<3/2>).4d,2[7/2],4,NaN,50706.273,NaN,NaN,NaN,98,NaN,(2)2[7/2]
172,3d9.(2D<5/2>).5d,2[7/2],4,NaN,54761.289,NaN,NaN,NaN,95,NaN,(3)2[7/2]
173,3d9.(2D<5/2>).5d,2[7/2],3,NaN,54772.137,NaN,NaN,NaN,92,NaN,(3)2[7/2]
197,3d9.(2D<3/2>).5d,2[7/2],3,NaN,56172.657,NaN,NaN,NaN,100,NaN,(4)2[7/2]
198,3d9.(2D<3/2>).5d,2[7/2],4,NaN,56183.497,NaN,NaN,NaN,100,NaN,(4)2[7/2]
221,3d8.4s.(4F<9/2>).4d,2[7/2],4,NaN,56857.884,NaN,NaN,NaN,90 : 10 3d8.4s.(4F<9/2>).4d ...,NaN,(5)2[7/2]
222,3d8.4s.(4F<9/2>).4d,2[7/2],3,NaN,57103.880,NaN,NaN,NaN,83 : 6 3d8.4s.(4F<9/2>).4d ...,NaN,(5)2[7/2]
234,3d9.(2D<5/2>).5g,2[7/2],3,NaN,57227.183,NaN,NaN,NaN,100,NaN,(6)2[7/2]
235,3d9.(2D<5/2>).5g,2[7/2],4,NaN,57227.187,NaN,NaN,NaN,100,NaN,(6)2[7/2]
255,3d8.4s.(4F<7/2>).4d,2[7/2],4,NaN,57810.438,NaN,NaN,NaN,90 : 6 3d8.4s.(4F<7/2>).4d ...,NaN,(7)2[7/2]
256,3d8.4s.(4F<7/2>).4d,2[7/2],3,NaN,58039.486,NaN,NaN,NaN,82 : 8 3d8.4s.(4F<7/2>).4d ...,NaN,(7)2[7/2]
261,3d8.4s.(4F<5/2>).4d,2[7/2],4,NaN,58579.787,NaN,NaN,NaN,88 : 7 3d8.4s.(4F<5/2>).4d ...,NaN,(8)2[7/2]
262,3d8.4s.(4F<5/2>).4d,2[7/2],3,NaN,58629.465,NaN,NaN,NaN,66 : 29 3d8.4s.(4F<5/2>).4d ...,NaN,(8)2[7/2]
271,3d9.(2D<3/2>).5g,2[7/2],4,NaN,58734.566,NaN,NaN,NaN,100,NaN,(9)2[7/2]
272,3d9.(2D<3/2>).5g,2[7/2],3,NaN,58734.572,NaN,NaN,NaN,100,NaN,(9)2[7/2]
280,3d8.4s.(4F<3/2>).4d,2[7/2],4,NaN,59039.633,NaN,NaN,NaN,92,NaN,(10)2[7/2]
281,3d8.4s.(4F<3/2>).4d,2[7/2],3,NaN,59188.721,NaN,NaN,NaN,68 : 31 3d8.4s.(4F<3/2>).4d ...,NaN,(10)2[7/2]
107,3d9.(2D<5/2>).4d,2[9/2],5,NaN,49158.480,NaN,NaN,1.20000,100,NaN,(1)2[9/2]
108,3d9.(2D<5/2>).4d,2[9/2],4,NaN,49174.770,NaN,NaN,1.05000,99,NaN,(1)2[9/2]
156,3d9.(2D<5/2>).5d,2[9/2],5,NaN,54659.709,NaN,NaN,1.07000,100,NaN,(2)2[9/2]
157,3d9.(2D<5/2>).5d,2[9/2],4,NaN,54667.300,NaN,NaN,NaN,100,NaN,(2)2[9/2]
217,3d8.4s.(4F<9/2>).4d,2[9/2],4,NaN,56766.480,NaN,NaN,NaN,87 : 10 3d8.4s.(4F<9/2>).4d ...,NaN,(3)2[9/2]
218,3d8.4s.(4F<9/2>).4d,2[9/2],5,NaN,56973.654,NaN,NaN,NaN,95,NaN,(3)2[9/2]
238,3d9.(2D<5/2>).5g,2[9/2],5,NaN,57229.556,NaN,NaN,NaN,100,NaN,(4)2[9/2]
239,3d9.(2D<5/2>).5g,2[9/2],4,NaN,57229.559,NaN,NaN,NaN,100,NaN,(4)2[9/2]
253,3d8.4s.(4F<7/2>).4d,2[9/2],4,NaN,57789.532,NaN,NaN,NaN,90 : 6 3d8.4s.(4F<7/2>).4d ...,NaN,(5)2[9/2]
254,3d8.4s.(4F<7/2>).4d,2[9/2],5,NaN,57829.332,NaN,NaN,NaN,91,NaN,(5)2[9/2]
259,3d8.4s.(4F<5/2>).4d,2[9/2],4,NaN,58518.114,NaN,NaN,NaN,87 : 6 3d8.4s.(4F<5/2>).4d ...,NaN,(6)2[9/2]
260,3d8.4s.(4F<5/2>).4d,2[9/2],5,NaN,58520.863,NaN,NaN,NaN,95,NaN,(6)2[9/2]
273,3d9.(2D<3/2>).5g,2[9/2],5,NaN,58736.621,NaN,NaN,NaN,100,NaN,(7)2[9/2]
274,3d9.(2D<3/2>).5g,2[9/2],4,NaN,58736.719,NaN,NaN,NaN,100,NaN,(7)2[9/2]
3,3d9.(2D).4s,3D,3,NaN,204.787,NaN,NaN,1.33354,99,NaN,3D
4,3d9.(2D).4s,3D,2,NaN,879.816,NaN,NaN,1.15105,90 : 9 3d9.(2D).4s ...,NaN,3D
5,3d9.(2D).4s,3D,1,NaN,1713.087,NaN,NaN,0.49804,99,NaN,3D
0,3d8.(3F).4s2,3F,4,NaN,0.000,NaN,NaN,1.24965,97,L11151,(1)3F
1,3d8.(3F).4s2,3F,3,NaN,1332.164,NaN,NaN,1.08280,97,NaN,(1)3F
2,3d8.(3F).4s2,3F,2,NaN,2216.550,NaN,NaN,0.66956,96,NaN,(1)3F
123,3d8.4s.(4F).5s,3F,4,NaN,50466.131,NaN,NaN,NaN,85 : 12 3d8.4s.(4F).5s ...,NaN,(2)3F
124,3d8.4s.(4F).5s,3F,3,NaN,51306.038,NaN,NaN,NaN,80 : 10 3d8.4s.(4F).5s ...,NaN,(2)3F
125,3d8.4s.(4F).5s,3F,2,NaN,52040.523,NaN,NaN,NaN,88 : 7 3d8.4s.(2F).5s ...,NaN,(2)3F
141,3d8.4s.(2F).5s,3F,4,NaN,54237.099,NaN,NaN,1.27000,93,NaN,(3)3F
142,3d8.4s.(2F).5s,3F,3,NaN,55576.843,NaN,NaN,1.00000,69 : 26 3d8.4s.(2F).5s ...,NaN,(3)3F
143,3d8.4s.(2F).5s,3F,2,NaN,55920.485,NaN,NaN,NaN,84 : 7 3d8.4s.(4F).5s ...,NaN,(3)3F
9,3d8.(3P).4s2,3P,2,NaN,15609.844,NaN,NaN,1.35600,78 : 18 3d8.(1D).4s2 ...,NaN,3P
10,3d8.(3P).4s2,3P,1,NaN,15734.001,NaN,NaN,1.49700,97,NaN,3P
11,3d8.(3P).4s2,3P,0,NaN,16017.306,NaN,NaN,NaN,96,NaN,3P
91,3d8.4s.(4F).5s,5F,5,NaN,48466.490,NaN,NaN,1.40000,100,NaN,(1)5F
92,3d8.4s.(4F).5s,5F,4,NaN,49085.982,NaN,NaN,1.33000,80 : 11 3d8.4s.(4F).5s ...,NaN,(1)5F
93,3d8.4s.(4F).5s,5F,3,NaN,49777.569,NaN,NaN,1.23000,88 : 8 3d8.4s.(4F).5s ...,NaN,(1)5F
94,3d8.4s.(4F).5s,5F,2,NaN,50346.427,NaN,NaN,0.95000,94,NaN,(1)5F
95,3d8.4s.(4F).5s,5F,1,NaN,50744.552,NaN,NaN,0.20000,93,NaN,(1)5F
284,3d8.(3F).4s.(4F).6s,5F,5,NaN,59862.611,NaN,NaN,NaN,...,NaN,(2)5F

In [9]:
# Select terms by energy
lowTerms = []
for term, grp in dfexpt.groupby('uTerm'):
    if (grp[Ecol] < termcut).any():
        lowTerms.append(term)
print(f'There are {len(lowTerms)} assigned terms with levels below {termcut} cm-1')
# discard high terms
dfexpt = dfexpt[dfexpt.uTerm.isin(lowTerms)].copy()
print('Re-labeling terms (uTerm) for this limited set of terms')
uterms = chem.update_enumerative_prefix(dfexpt.uTerm)
dfexpt['uTerm'] = uterms
nlevx = len(dfexpt)
print(f'There are {nlevx} levels associated with these terms of interest')
# parse 'Term' column to get simplified term labels
dfexpt['Tlbl'] = dfexpt.Term.apply(chem.strip_enumerative_prefix)
# Convert experimental 'J' and 'Level' to floats
dfexpt[Ecol] = dfexpt[Ecol].astype(float)
dfexpt['J'] = dfexpt['J'].apply(chem.halves_to_float)
# add degeneracy = 2J+1
dfexpt['degen'] = 2 * dfexpt.J + 1
# sort by energy
dfexpt = dfexpt.sort_values(Ecol)
display(dfexpt.style.format(fmt))

There are 7 assigned terms with levels below 25000 cm-1
Re-labeling terms (uTerm) for this limited set of terms
There are 13 levels associated with these terms of interest

### Take assignments at face value, i.e., apply eq. (1)

In [10]:
# No theoretical calculations are needed to use eq. (1)
xterms = []  # list of term labels
eterms = []  # list of term energies
for term in dfexpt.uTerm:
    if term not in xterms:
        xterms.append(term)
for Term in xterms:
    subdf = dfexpt[dfexpt.uTerm == Term]
    emean = np.dot(subdf.degen, subdf[Ecol]) / subdf.degen.sum()
    eterms.append(emean)
dfeq1 = pd.DataFrame({'Term': xterms, 'Eterm': eterms}).sort_values('Eterm').reset_index(drop=True)
print('Term energies (cm-1) using eq. (1)')
display(dfeq1.style.format(fmt))
SOC1 = -1 * np.round(dfeq1.at[0, 'Eterm'], 3)
lowterm = dfeq1.at[0, 'Term']
print(f'The term of lowest energy is \t{lowterm} \twith SOC1 = {SOC1} cm-1')
levterm = dfexpt.uTerm.values[0]
if levterm != lowterm:
    # The lowest term is not the leading term in the lowest level
    SOC1 = -1 * np.round(dfeq1[dfeq1.Term == levterm]['Eterm'].values[0], 3)
    print(f'The lowest level belongs to \t{levterm} \twith SOC1 = {SOC1} cm-1')

Term energies (cm-1) using eq. (1)

The term of lowest energy is 	3D 	with SOC1 = -731.457 cm-1
The lowest level belongs to 	3F 	with SOC1 = -971.805 cm-1

### Specify Molpro SO-CI output file

In [11]:
#fsoc = 'fe_15Q21T_ctzdk_x2c.pro'
#fsoc = 'fe_ci_15Q7T_c5zdk_x2c.pro'
#fsoc = 'fe_15Q7T_ctzdk_x2c.pro'
fsoc = '../UMemphis/Ni15T20S-cc-pVTZ-DK.out'
#fsoc = '../Umemphis/Au-cc-tz-pp.out'

print(f'Reading MOLPRO file "{fsoc}"')
compAtom = mpr.stoichiometry(fsoc)
charge = mpr.total_charge(fsoc, verbose=True)
print(f'The atom is {compAtom} with charge {charge}')
# check for consistency with the experimental data that were read
if charge > 0: 
    compAtom += '+'
elif charge < 0:
    compAtom += '-'
if abs(charge) > 1:
    compAtom += f'{abs(charge)}'
        
if compAtom != atom:
    print(f'*** exptl atom = {atom} is different ***')
PG = mpr.read_compgroup(fsoc)
print(f'The computational point group is {PG}')

Reading MOLPRO file "../UMemphis/Ni15T20S-cc-pVTZ-DK.out"
The atom is Ni with charge 0.0
The computational point group is Ci

In [12]:
SOCI = mpr.fullmatSOCI(fsoc, atom=True)

Computational group = Ci
CASSCF states:
    20 Singlet
    15 Triplet

In [13]:
SOCraw = SOCI.vals.min()
print(f'From lowest level and lowest uncoupled energy, raw theoretical SOCraw = {SOCraw:.3f} cm-1')

From lowest level and lowest uncoupled energy, raw theoretical SOCraw = -1004.948 cm-1

In [14]:
def term_energy_from_levels(df, term, Ecol):
    # Given a DataFrame with the right columns ['J', 'termwt', Ecol],
    #   where 'Ecol' is the header for the column of level energies,
    # Return the term's average energy as derived from the levels
    global SOCI
    # find index for term 'term'
    iterm = SOCI.dfterm[SOCI.dfterm.Term == term].index[0]
    termwt = np.array([twt[iterm] for twt in df.termwt])
    degen = 2 * df.J.values + 1
    dweight = degen * termwt  # total weight, including degeneracies
    Eterm = np.dot(df[Ecol], dweight) / dweight.sum()
    return Eterm

## Select the term of interest

In [15]:
target = '3F'  # the term of interest
dflevel = SOCI.assign_atomic_J()
if target not in SOCI.dfterm.Term.values:
    print(f'*** Term {target} is not present.  Choose another! ***')
    1/0
else:
    Eterm = term_energy_from_levels(dflevel, target, 'Erel')
    print(f'Using degenerated averages, energy of {target} term = {Eterm:.1f} cm-1')
    SOCth = -Eterm
    print(f'SOCth = {SOCth:.3f} cm-1')

Assigning J using 13 clusters/levels
Using degenerated averages, energy of 3F term = 1004.9 cm-1
SOCth = -1004.946 cm-1

In [16]:
# Match experimental levels with corresponding theoretical
# First pass:  sort by energy, match by J

warnThresh = 1000  # highlight errors larger than this (cm-1)
dfdiff = dfexpt.copy().sort_values(Ecol)
dfdiff['calcTerm'] = ''
dfdiff['Ecalc'] = np.nan
print(f'Matching theoretical levels from {fsoc} with experimental')
print('   Matching levels by J and energy')
idx = list(dflevel.index)  # list of computed levels
termwt = []  # for arrays of term weights (from theory)
for i, row in dfexpt.iterrows():
    while idx:
        # there are theoretical levels that have not been matched to exptl
        for j in idx.copy():
            if float(row.J) != float(dflevel.at[j, 'J']):
                # values of J must be equal
                continue
            # J matches
            dfdiff.at[i, 'calcTerm'] = dflevel.at[j, 'Lead']
            dfdiff.at[i, 'Ecalc'] = dflevel.at[j, 'Erel']
            termwt.append(dflevel.at[j, 'termwt'])
            idx.remove(j)
            break
        else:
            print('Failed to assign any theoretical level to this exptl!')
            display(row.to_frame().T)
        break
dfdiff['err'] = np.round(dfdiff.Ecalc - dfdiff[Ecol], 2)
dfdiff['termwt'] = termwt
dfdiff = dfdiff[['Configuration', 'uTerm', 'J', 'Leading percentages', Ecol, 'calcTerm', 'Ecalc', 'err', 'termwt']]
display(dfdiff.drop('termwt', axis=1).style.apply(lambda x: ["background: yellow" if abs(v) > warnThresh else "" for v in x], 
              subset=pd.IndexSlice[['err']]).apply(lambda x: (x != dfdiff['uTerm']).map({True: "background-color: red; color: white", False: ""}),
                                                   subset=['calcTerm']).format(fmt))
print('Disagreements in term assignments are highlighted')
print(f'Errors > {warnThresh} cm-1 are highlighted')

Matching theoretical levels from ../UMemphis/Ni15T20S-cc-pVTZ-DK.out with experimental
   Matching levels by J and energy

Disagreements in term assignments are highlighted
Errors > 1000 cm-1 are highlighted

In [17]:
# Second pass

# Where the term assignments disagree, is there substantial weight in the exptl term?
min_weight = 0.3  # don't allow any assignment with a smaller weight
dfdiff['OK'] = (dfdiff.calcTerm == dfdiff.uTerm)
#display(dfdiff[dfdiff.OK == False].style.format(fmt))
for irow, row in dfdiff.iterrows():
    if row.uTerm != row.calcTerm:
        display(row.to_frame().T.style.format(fmt))
        weights = {t: np.round(w, 3) for t, w in zip(SOCI.dfterm.Term.values, row.termwt)}
        wx = weights[row.uTerm]
        wth = weights[row.calcTerm]
        print(f'Conflict in leading term: theor = {row.calcTerm} with weight {wth}, exptl = {row.uTerm} with weight {wx}')
        if wx >= min_weight:
            print('\tconflict is nominal')
            dfdiff.at[irow, 'OK'] = True
        else:
            print('\tthis is not a match')

Conflict in leading term: theor = 3P with weight 0.508, exptl = (2)1D with weight 0.488
	conflict is nominal

Conflict in leading term: theor = 3P with weight 0.997, exptl = 1S with weight 0.003
	this is not a match

Conflict in leading term: theor = (2)1D with weight 0.506, exptl = 3P with weight 0.491
	conflict is nominal

Conflict in leading term: theor = 1S with weight 0.997, exptl = 3P with weight 0.003
	this is not a match

In [18]:
# Third pass

# Try to resolve term-label conflicts by swapping assignments
#    this relies on the exptl term actually leading some other term
for lbl, grp in dfdiff.groupby(['OK', 'J']):
    if lbl[0]:
        continue
    if len(grp) > 1:
        # a swap is possible
        subdf = grp.copy()  # contains the rows with conflicting term labels and same "J"
        display(subdf.style.format(fmt))
        for i, row in subdf.iterrows():
            if dfdiff.at[i, 'OK']:
                # this row has already been fixed
                continue
            #display(row.to_frame().T.style.format(fmt))
            if (row.calcTerm in subdf.uTerm.values) and (row.uTerm in subdf.calcTerm.values):
                # swap is possible
                targTerm = row.calcTerm
                j = subdf[subdf.uTerm == targTerm].index.values[0]  # there should be only one
                print(f'Swapping assignments for rows {i} and {j}')
                if dfdiff.at[j, 'OK']:
                    print(f'\t*** row {j} already assigned ***')
                # make the swap
                for col in ['calcTerm', 'Ecalc', 'termwt']:
                    dfdiff.at[i, col] = subdf.at[j, col]
                    dfdiff.at[j, col] = subdf.at[i, col]
                    dfdiff.at[i, 'OK'] = True
                    dfdiff.at[j, 'OK'] = True
# recalculate the "err" column
dfdiff['err'] = dfdiff.Ecalc - dfdiff[Ecol]

Swapping assignments for rows 8 and 11

In [19]:
display(dfdiff.drop('termwt', axis=1).style.apply(lambda x: ["background: yellow" if abs(v) > warnThresh else "" for v in x], 
              subset=pd.IndexSlice[['err']]).apply(lambda x: (x != dfdiff['uTerm']).map({True: "background-color: red; color: white", False: ""}),
                                                   subset=['calcTerm']).format(fmt))
print('Disagreements in term assignments are highlighted')
print(f'Errors > {warnThresh} cm-1 are highlighted')

Disagreements in term assignments are highlighted
Errors > 1000 cm-1 are highlighted

In [20]:
# Use experimental level energies via eq. (2)
Eterm = term_energy_from_levels(dfdiff, target, 'Level (cm-1)')
SOC2 = -Eterm
print(f'Using experimental levels and eq. (2) for term {target}, SOC2 = {SOC2:.1f} cm-1')

Using experimental levels and eq. (2) for term 3F, SOC2 = -994.4 cm-1

In [21]:
def term_distrib(term, df):
    # return the weights (including 2J+1) of term in levels
    global SOCI
    itarget = SOCI.dfterm[SOCI.dfterm.Term == term].index[0]
    wt = [twt[itarget] for twt in df.termwt]  # without 2J+1 weighting
    wt = wt * (2*df.J + 1)
    return wt

In [22]:
print(f'Distribution of term "{target}" among levels:')
dflevel[target] = term_distrib(target, dflevel)
display(dflevel.drop(['termwt', 'Composition'], axis=1).sort_values(target, ascending=False).style.format(fmt))
print(f'Total weight of {target} = {dflevel[target].sum():.3f}')

Distribution of term "3F" among levels:

Total weight of 3F = 21.000

In [23]:
# Summarize level-energy errors by leading term
dftermerr = pd.DataFrame(columns=['Term', 'range', 'mean', 'stds', 'urange', 'umean', 'ustds'])
for term, grp in dfdiff.groupby('uTerm'):
    spread = np.round([grp.err.min(), grp.err.max()], 0).astype(int)
    jwt = 2 * grp.J.values + 1
    m, s = chem.weighted_mean(grp.err, jwt)
    # also consider unsigned (absolute value) errors
    uerr = np.abs(grp.err.values)
    uspread = np.round([uerr.min(), uerr.max()], 0).astype(int)
    um, us = chem.weighted_mean(uerr, jwt)
    dftermerr.loc[len(dftermerr)] = [term, spread, m, s, uspread, um, us]
if dftermerr.isnull().values.any():
    print('*** Some terms are missing ***')
    print('Try decreasing the energy maximum ("termcut")')
else:
    # round values to nearest 1 cm-1
    cols = ['mean', 'stds', 'umean', 'ustds']
    dftermerr[cols] = np.round(dftermerr[cols], 0).astype(int)
    print(f'Molpro source file: {fsoc}')
    print(f'J-weighted errors in level energies (cm-1), grouped by leading term')
    # default order same as experimental terms
    dftermerr.Term = pd.Categorical(dftermerr.Term, xterms)
    dftermerr = dftermerr.sort_values('Term')
dftermerr.sort_values('mean')

Molpro source file: ../UMemphis/Ni15T20S-cc-pVTZ-DK.out
J-weighted errors in level energies (cm-1), grouped by leading term

    Term           range   mean  stds          urange  umean  ustds
5     3F         [0, 24]      6     6         [0, 24]      6      6
0  (1)1D      [789, 789]    789    -1      [789, 789]    789     -1
4     3D      [848, 871]    855     4      [848, 871]    855      4
6     3P     [887, 1276]   1109   144     [887, 1276]   1109    144
1  (2)1D    [1476, 1476]   1476    -1    [1476, 1476]   1476     -1
2     1G    [1860, 1860]   1860    -1    [1860, 1860]   1860     -1
3     1S  [30716, 30716]  30716    -1  [30716, 30716]  30716     -1

# Summarize level-energy errors by leading term
dftermerr = pd.DataFrame(columns=['Term', 'range', 'mean', 'stds'])
for term, grp in dfdiff.groupby('uTerm'):
    spread = np.round([grp.err.min(), grp.err.max()], 0).astype(int)
    jwt = 2 * grp.J.values + 1
    m, s = chem.weighted_mean(grp.err, jwt)
    #m = grp.err.mean()
    #if len(grp.err) > 1:
    #    s = grp.err.std()
    #else:
    #    s = -1
    dftermerr.loc[len(dftermerr)] = [term, spread, m, s]
if dftermerr.isnull().values.any():
    print('*** Some terms are missing ***')
    print('Try decreasing the energy maximum ("termcut")')
else:
    # round values to nearest 1 cm-1
    dftermerr[['mean', 'stds']] = np.round(dftermerr[['mean', 'stds']], 0).astype(int)
    print(fsoc)
    print(f'J-weighted errors in level energies (cm-1), grouped by leading term')
    # default order same as experimental terms
    dftermerr.Term = pd.Categorical(dftermerr.Term, xterms)
    dftermerr = dftermerr.sort_values('Term')
dftermerr.sort_values('mean')

In [24]:
# Term energy errors as inferred from all levels
dftermerr = pd.DataFrame(columns=['Term', 'wmean', 'wstds'])
termlist = []
wmean = []
wstds = []
# also consider unsigned (absolute value) errors
uwmean = []
uwstds = []
for term in set(dfdiff.uTerm):
    termlist.append(term)
    weights = term_distrib(term, dfdiff).values
    m, s = chem.weighted_mean(dfdiff.err, weights)
    wmean.append(m)
    wstds.append(s)
    uerr = np.abs(dfdiff.err.values)
    um, us = chem.weighted_mean(uerr, weights)
    uwmean.append(um)
    uwstds.append(us)
dftermerr['Term'] = termlist
dftermerr['wmean'] = wmean
dftermerr['wstds'] = wstds
dftermerr['uwmean'] = uwmean
dftermerr['uwstds'] = uwstds

if dftermerr.isnull().values.any():
    print('*** Some terms are missing ***')
    print('Try decreasing the energy maximum ("termcut")')
else:
    print('Errors in term energies (cm-1) as inferred from full level distribution')
    print('\t(not only levels where leading)')
    # default order same as experimental terms
    dftermerr.Term = pd.Categorical(dftermerr.Term, xterms)
    dftermerr = dftermerr.sort_values('Term')
dftermerr.sort_values('wmean').style.format(fmt)

Errors in term energies (cm-1) as inferred from full level distribution
	(not only levels where leading)

# Term energy errors as inferred from all levels
dftermerr = pd.DataFrame(columns=['Term', 'wmean', 'wstds'])
termlist = []
wmean = []
wstds = []
for term in set(dfdiff.uTerm):
    termlist.append(term)
    weights = term_distrib(term, dfdiff).values
    m, s = chem.weighted_mean(dfdiff.err, weights)
    wmean.append(m)
    wstds.append(s)
dftermerr['Term'] = termlist
dftermerr['wmean'] = wmean
dftermerr['wstds'] = wstds

if dftermerr.isnull().values.any():
    print('*** Some terms are missing ***')
    print('Try decreasing the energy maximum ("termcut")')
else:
    print('Errors in term energies (cm-1) as inferred from full level distribution')
    print('\t(not only levels where leading)')
    # default order same as experimental terms
    dftermerr.Term = pd.Categorical(dftermerr.Term, xterms)
    dftermerr = dftermerr.sort_values('Term')
dftermerr.sort_values('wmean').style.format(fmt)

In [25]:
print(f'Molpro source file: {fsoc}')
print(f'Alternative values for SOC({target}) of atom {atom}:')
print('-' * 25)
print('{:12s} {:.1f} cm-1'.format('eq (1)', SOC1))
print('{:12s} {:.1f} cm-1'.format('raw theory', SOCraw))
print('{:12s} {:.1f} cm-1'.format('avgd theory', SOCth))
print('{:12s} {:.1f} cm-1'.format('eq (2)', SOC2))
print('-' * 25)

Molpro source file: ../UMemphis/Ni15T20S-cc-pVTZ-DK.out
Alternative values for SOC(3F) of atom Ni:
-------------------------
eq (1)       -971.8 cm-1
raw theory   -1004.9 cm-1
avgd theory  -1004.9 cm-1
eq (2)       -994.4 cm-1
-------------------------