In [3]:
# Extract SO-CI information from MOLPRO outputs for atoms
#   Read exptl data from Excel file, combine with weights to get E_so
#   The experimental Excel file is generated by get_NIST_atomic_data.ipynb
# Add a fourth way to get E_so:  by fitting term energies to exptl level energies
#   (off-diagonal elements of the spin-orbit matrix are from a Molpro SO-CI calculation)
# KKI 2/5/2024
import re, sys, os
import numpy as np
import pandas as pd
import scipy
#import matplotlib.pyplot as plt
#from collections import Counter
#from sklearn.cluster import KMeans

import chem_subs as chem
import molpro_subs as mpr

pd.set_option('display.max_rows', None)
np.set_printoptions(suppress=True)

### Specify Molpro SO-CI output file

In [548]:
fname = 'ba_1S3D3F3P_acqz_99.pro'

In [549]:
# my atom subdirectory names look like "Ar_I" (for neutral argon)
el = fname.split('_')[0].capitalize()
fdir = r'C:\Users\irikura\OneDrive - NIST\Karl\atomic_SOC\calculations\{:s}_I'.format(el)

In [550]:
fsoc = os.sep.join([fdir, fname])
print(f'Reading MOLPRO file')
print(fsoc)
atom = mpr.stoichiometry(fsoc)
charge = int(np.rint(mpr.total_charge(fsoc, verbose=True)))
print(f'The atom is {atom} with charge {charge}')
# append charge, to match sheet names in exptl data file
if charge > 0: 
    atom += '+'
elif charge < 0:
    atom += '-'
if abs(charge) > 1:
    atom += f'{abs(charge)}'

Reading MOLPRO file
C:\Users\irikura\OneDrive - NIST\Karl\atomic_SOC\calculations\Ba_I\ba_1S3D3F3P_ac5zpp.pro
--- ECP replaces 46 nuclear charges ---
The atom is Ba with charge 0

In [551]:
ishybrid = '_hyb' in fname
if ishybrid:
    print('** Hybrid SO-CI')
SOCI = mpr.fullmatSOCI(fsoc, atom=True, hybrid=ishybrid)
labels_ordinated = False  # flag to prevent multiple (1)(1)(1) etc.

Computational group = Ci
CASSCF states:
     1 Singlet
    15 Triplet
---CASSCF state 1.1 matched to MRCI state 2.1
---CASSCF state 1.1 matched to MRCI state 3.1
---CASSCF state 1.1 matched to MRCI state 4.1
---CASSCF state 1.1 matched to MRCI state 5.1
---CASSCF state 6.1 matched to MRCI state 7.1
---CASSCF state 6.1 matched to MRCI state 8.1
---CASSCF state 6.1 matched to MRCI state 9.1
---CASSCF state 6.1 matched to MRCI state 10.1
---CASSCF state 6.1 matched to MRCI state 11.1
---CASSCF state 6.1 matched to MRCI state 12.1
---CASSCF state 13.1 matched to MRCI state 14.1
---CASSCF state 13.1 matched to MRCI state 15.1

In [552]:
print(f'CASSCF active space is ({SOCI.cas.nactel()}/{SOCI.cas.nactorb()})')
# Get the basis set
rx_bs = re.compile(' SETTING BASIS\s+=\s+(\S+)')
with open(fsoc, 'r') as F:
    for line in F:
        m = rx_bs.match(line)
        if m:
            basisset = m.group(1)
print(f'Basis set is {basisset}')
dynw = SOCI.cas.dynw()
caswts = SOCI.cas.weights(rescale=True)
if dynw:
    print(f'Dynamical weighting with dynw={dynw}')
    print('Final weights:')
else:
    print('CASSCF state weights (subject to rounding error):')
for wts in caswts:
    print('    ', np.round(wts, 1))

CASSCF active space is (2/7)
Basis set is AUG-CC-PWCV5Z-PP
CASSCF state weights (subject to rounding error):
     [1.]
     [1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]

In [553]:
lsq = SOCI.cas.results['L**2'].values
if (lsq - np.round(lsq)).any():
    print('*** Non-integer values of <L**2> ***')
display(SOCI.cas.results[['Spin', 'Label', 'Energy', 'L**2', 'Term']])

       Spin Label     Energy  L**2 Term
0   Singlet   1.1 -25.101309  -0.0   1S
1   Triplet   1.1 -25.061314   6.0   3D
2   Triplet   2.1 -25.061314   6.0   3D
3   Triplet   3.1 -25.061314   6.0   3D
4   Triplet   4.1 -25.061314   6.0   3D
5   Triplet   5.1 -25.061314   6.0   3D
6   Triplet   6.1 -25.005053  12.0   3F
7   Triplet   7.1 -25.005053  12.0   3F
8   Triplet   8.1 -25.005053  12.0   3F
9   Triplet   9.1 -25.005053  12.0   3F
10  Triplet  10.1 -25.005053  12.0   3F
11  Triplet  11.1 -25.005053  12.0   3F
12  Triplet  12.1 -25.005053  12.0   3F
13  Triplet  13.1 -24.984430   2.0   3P
14  Triplet  14.1 -24.984430   2.0   3P
15  Triplet  15.1 -24.984430   2.0   3P

In [554]:
# Report on orbital spaces in the MRCI
print('MRCI orbital spaces, by irrep')
print('    {:10s} {}'.format('core', SOCI.cilist[0].orbs_core))
print('    {:10s} {}'.format('closed', SOCI.cilist[0].orbs_closed))
print('    {:10s} {}'.format('active', SOCI.cilist[0].orbs_active))
print('    {:10s} {}'.format('external', SOCI.cilist[0].orbs_external))

MRCI orbital spaces, by irrep
    core       []
    closed     [1, 3]
    active     [7, 0]
    external   [93, 109]

In [555]:
nCI = len(SOCI.dfci)
nSO = len(SOCI.SOe.results)
print(f'There are {nCI} MRCI states')
print(f'There are {nSO} spin-orbit levels')

There are 16 MRCI states
There are 46 spin-orbit levels

In [556]:
SOCraw = SOCI.vals.min()
print(f'From lowest level and lowest uncoupled term energy, raw theoretical SOCraw = {SOCraw:.2f} cm-1')

From lowest level and lowest uncoupled term energy, raw theoretical SOCraw = -0.06 cm-1

In [557]:
# display formatting
fmt = {'Eshift': '{:.1f}', 'Pct': '{:.3f}', 'degen': '{:.0f}'}
for col in ['J', 'Ecalc', 'E_dif', 'Erel', 'Eshift', 'err', 'Eterm', 'cm-1', 'fitted',
           'wmean', 'wstds', 'uwmean', 'uwstds', 'change', 'rwmse']:
    fmt[col] =  fmt['Eshift']
for col in ['dif', 'Theory', 'ecm', 'SOC', 'RMSE']:
    fmt[col] = '{:.2f}'

In [558]:
dfterm = SOCI.average_terms(be_close=['Energy', 'Edav', 'Eref', 'dipZ', 'C0'], 
                            atom=True, always=True)
nTerm = len(dfterm)
termsIn = set(dfterm.Term)
# drop the dipZ column
dfterm.drop(columns=['dipZ'], inplace=True)
print(f'Averaged terms from MRCI ({fname}):')
dfso = SOCI.assign_atomic_J(quiet=False)  # create SOCI.dfso
Egl = SOCI.dfso.E.min()  # energy of ground level
dfterm['Erel'] = (dfterm.Edav - Egl) * chem.AU2CM
display(dfterm.style.format(fmt))
print('"ecm"  is relative to the lowest term (cm-1)')
print('"Erel" is relative to the ground level')

Averaged terms from MRCI (ba_1S3D3F3P_ac5zpp.pro):
Assigning J using 10 clusters/levels

"ecm"  is relative to the lowest term (cm-1)
"Erel" is relative to the ground level

In [559]:
print('Level assignments from the calculation:')
display(dfso[['Lead', 'J', 'Jlbl', 'Erel', 'Eshift']].style.format(fmt))

Level assignments from the calculation:

In [560]:
# Check for problems in assignments
nAssign = len(set(dfso.Lead))
dropT = False
if nAssign != nTerm:
    print(f'*** I started with {nTerm} terms but now have {nAssign} ***')
    print('Starting: ', sorted(termsIn))
    termsOut = set(dfso.Lead)
    print('Now     : ', sorted(termsOut))
    if nAssign > nTerm:
        addT = termsOut - termsIn
        print('Added terms: ', addT)
    else:
        dropT = termsIn - termsOut
        print('Dropped terms: ', dropT)
        # Add weights from dropped terms and display
        for term in dropT:
            df = SOCI.level_contributions_from_term(term, thr=0)
            dfso[term] = df[term]
        print('Weights of dropped terms in levels:')
        display(dfso[['Lead', 'J', 'Jlbl', 'Erel', 'Eshift'] + list(dropT)].style.format(fmt))
nlvl = (2 * dfso.J + 1).sum()  # number of sublevels
if nlvl != nSO:
    print(f'*** I started with {nSO} (sub)levels but now have {nlvl} ***')

In [561]:
# Manually assign any dropped terms
if dropT:
    for drt in dropT:
        ia = int(input(f'Which level do you want to assign to term {drt}? '))
        dfso.loc[ia, 'Lead'] = drt
    # rebuild 'Jlbl' values
    jlbl = [f'{t}_{chem.halves(j)}' for t, j in zip(dfso.Lead, dfso.J)]
    dfso['Jlbl'] = chem.enumerative_prefix(jlbl)
    display(dfso[['Lead', 'J', 'Jlbl', 'Erel', 'Eshift'] + list(dropT)].style.format(fmt))

In [562]:
irreps_ci = set(SOCI.dfci.Irrep)
if (SOCI.PG == 'Ci') and (len(irreps_ci) == 1):
    if 1 in irreps_ci:
        parity = 'even'
    else:
        parity = 'odd'
else:
    # ask user for parity of interest
    parity = input('Please choose "even" or "odd" parity: ')
print(f'Experimental states will be restricted to parity = {parity}')

Experimental states will be restricted to parity = even

In [563]:
# Read experimental energy levels
if charge >= 0:
    atstr = atom + '_' + 'I' * (charge + 1)
else:
    # anion
    atstr = atom + '_neg'
fxl = f'{atstr}_exptl_levels.xlsx'
# Use an alternative file if available
fxlalt = f'{atstr}_exptl_{parity}_assign.xlsx'
try:
    xlpath = os.sep.join([fdir, fxlalt])
    # Replace column 'Term' with column 'LS'
    dfexpt = pd.read_excel(xlpath).drop('Term', axis=1)
    dfexpt = dfexpt.rename(columns={'LS': 'Term'})
    print('** Using alternative experimental data file')
    fxl = fxlalt
except FileNotFoundError:
    xlpath = os.sep.join([fdir, fxl])
    dfexpt = pd.read_excel(xlpath)
print(f'Experimental energy levels read from {fxl}')

Experimental energy levels read from Ba_I_exptl_levels.xlsx

In [564]:
# Find the number of decimal places in the level energies
Ecol = 'Level (cm-1)'  # the exptl energy column
ndecim = 0
for e in dfexpt[Ecol]:
    words = str(e).split('.')
    # count numeric digits
    n = sum(c.isdigit() for c in words[-1])
    ndecim = max(n, ndecim)
print(f'Experimental energies are provided to {ndecim} decimal digits')

Experimental energies are provided to 3 decimal digits

In [565]:
# display formatting
fmt[Ecol] = '{:.' + str(ndecim) + 'f}'

In [566]:
# Delete any ionization limit
ilim = dfexpt[dfexpt.Term == 'Limit'].index.min()
# delete the "Limit" row and everything past it
n1 = len(dfexpt)
dfexpt = dfexpt.truncate(after=ilim-1)
n2 = len(dfexpt)
if n2 < n1:
    print(f'Discarding {n1-n2} ionized or metastable states')
oddstr = r'\*$|' # characters to identify terms of odd parity
# Sometimes parity is shown in configuration alone?
#dfeven = dfexpt[~(dfexpt.Term.str.contains(oddstr) | dfexpt.Configuration.str.contains(oddstr))].copy()
#dfodd = dfexpt[dfexpt.Term.str.contains(oddstr) | dfexpt.Configuration.str.contains(oddstr)].copy()
dfeven = dfexpt[~(dfexpt.Term.str.contains(oddstr))].copy()
dfodd = dfexpt[dfexpt.Term.str.contains(oddstr)].copy()
print(f'{len(dfexpt)} experimental levels ({len(dfeven)} even and {len(dfodd)} odd)')
# Select by parity
if parity == 'even':
    # discard odd levels ('Term' field ends with '*')
    dfexpt = dfeven.copy()
elif parity == 'odd':
    dfexpt = dfodd.copy()
else:
    chem.print_err('', f'Parity of "{parity}" is not recognized')
n3 = len(dfexpt)
print(f'{n3} levels accepted for parity = {parity}')
# Reject bad values of J
for i in dfexpt.index:
    try:
        chem.halves_to_float(dfexpt.loc[i, 'J'])
    except ValueError:
        dfexpt.at[i, 'J'] = np.nan
nbad = dfexpt.J.isna().sum()
if nbad:
    print(f'** Rejecting {nbad} levels with malformed J values')
    dfexpt = dfexpt.dropna()
    n4 = len(dfexpt)
    print(f'{n4} level retained')
# Assign unique term symbols
if not labels_ordinated:
    dfexpt = chem.unique_labels_exptl_terms(dfexpt, verbose=True, always=True)
    labels_ordinate = True
dfexpt

Discarding 1 ionized or metastable states
294 experimental levels (176 even and 118 odd)
176 levels accepted for parity = even

    Configuration Term  J  Level (cm-1)   uTerm
0             6s2   1S  0         0.000   (1)1S
1            6s5d   3D  1      9033.966   (1)3D
2            6s5d   3D  2      9215.501   (1)3D
3            6s5d   3D  3      9596.533   (1)3D
4            6s5d   1D  2     11395.350   (1)1D
9             5d2   3F  2     20934.035   (1)3F
10            5d2   3F  3     21250.195   (1)3F
11            5d2   3F  4     21623.773   (1)3F
15            5d2   1D  2     23062.051   (2)1D
17            5d2   3P  0     23209.048   (1)3P
18            5d2   3P  1     23479.976   (1)3P
19            5d2   3P  2     23918.915   (1)3P
26           6s7s   3S  1     26160.293   (1)3S
27            5d2   1S  0     26757.300   (2)1S
29           6s7s   1S  0     28230.231   (3)1S
31           6s6d   1D  2     30236.826   (3)1D
32           6s6d   3D  1     30695.617   (2)3D
33           6s6d   3D  2     30750.672   (2)3D
34           6s6d   3D  3     30818.115   (2)3D
39           5d7s   3D  1     32805.169   (3)3D
40           5d7s   3D  2     32943.774   (3)3D
41           5d7s   3D  3     33526.601   (3)3D
42           5d7s   1D  2     33796.011   (4)1D
43           6s8s   3S  1     33905.358   (2)3S
44           6s8s   1S  0     34371.002   (4)1S
45            6p2   3P  0     34493.904   (2)3P
46            6p2   3P  1     34823.406   (2)3P
47            6p2   3P  2     35344.413   (2)3P
52           6s7d   3D  2     35616.949   (4)3D
53           6s7d   3D  1     35709.289   (4)3D
54           6s7d   3D  3     35785.273   (4)3D
58           6s7d   1D  2     35762.187   (5)1D
60           5d6d   3G  3     35894.395   (1)3G
61           5d6d   3G  4     36349.161   (1)3G
62           5d6d   3G  5     36837.670   (1)3G
63           5d6d   3D  1     35933.806   (5)3D
64           5d6d   3D  2     36200.412   (5)3D
65           5d6d   3D  3     36629.053   (5)3D
66           5d6d   1F  3     36165.312   (1)1F
67           5d6d   1P  1     36446.570   (1)1P
73           6s9s   3S  1     36902.670   (3)3S
77           5d6d   3F  2     37088.794   (2)3F
78           5d6d   3F  3     37503.887   (2)3F
79           5d6d   3F  4     37732.127   (2)3F
80           5d6d   3S  1     37095.486   (4)3S
81           6s9s   1S  0     37234.200   (5)1S
86           6s8d   1D  2     37435.176   (6)1D
87           5d6d   3P  0     37675.800   (3)3P
88           5d6d   3P  1     38023.059   (3)3P
89           5d6d   3P  2     38267.616   (3)3P
92           5d6d   1D  2     37837.305   (7)1D
94           6s8d   3D  1     37961.908   (6)3D
95           6s8d   3D  2     37974.186   (6)3D
96           6s8d   3D  3     37988.434   (6)3D
97           5d6d   1G  4     38176.994   (1)1G
99            6p2   1D  2     38556.227   (8)1D
100         6s10s   1S  0     38663.800   (6)1S
105          5d6d   1S  0     38924.000   (7)1S
107          6s9d   3D  3     39185.700   (7)3D
109          6s9d   1D  2     39335.003   (9)1D
110          5d8s   3D  1     39382.810   (8)3D
111          5d8s   3D  2     39464.980   (8)3D
112          5d8s   3D  3     40146.640   (8)3D
113         6s11s   1S  0     39671.850   (8)1S
121         6s10d   3D  2     39922.170   (9)3D
123         6s10d   1D  2     39998.350  (10)1D
124          5d8s   1D  2     40223.750  (11)1D
125         6s12s   1S  0     40233.750   (9)1S
128         6s11d   3D  1     40407.410  (10)3D
129         6s11d   3D  2     40413.610  (10)3D
130         6s11d   3D  3     40423.410  (10)3D
132         6s11d   1D  2     40483.590  (12)1D
133         6s13s   3S  1     40569.010   (5)3S
135         6s13s   1S  0     40618.200  (10)1S
137          6s9g   3G  3     40663.950   (2)3G
138          5d7d   3D  1     40684.410  (11)3D
139          5d7d   3D  2     40905.720  (11)3D
140          5d7d   3D  3     41459.380  (11)3D
141          5d7d   3G  3     40698.600   (3)3G
142          5d7d   3G  4     40974.300   (3)3G
143          5d7d   3G  5     41550.290   (3)3G
147         6s12d   3D  1     40742.600  (12)3D
148         6s12d   3D  2     40748.010  (12)3D
149         6s12d   3D  3     40748.200  (12)3D
151         6s12d   1D  2     40781.430  (13)1D
152          5d7d   1F  3     40867.310   (2)1F
153         6s14s   3S  1     40869.700   (6)3S
154         6s14s   1S  0     40891.570  (11)1S
157         6s10g   3G  4     40925.410   (4)3G
160         6s13d   3D  1     40982.380  (13)3D
161         6s13d   3D  3     40987.220  (13)3D
162         6s13d   3D  2     40987.270  (13)3D
164         6s13d   1D  2     41007.720  (14)1D
165          5d7d   3S  1     41019.570   (7)3S
166         6s15s   3S  1     41082.250   (8)3S
170         6s15s   1S  0     41093.000  (12)1S
175         6s14d   1D  2     41162.430  (15)1D
176         6s14d   3D  1     41163.020  (14)3D
177         6s14d   3D  2     41164.610  (14)3D
178         6s14d   3D  3     41164.720  (14)3D
180          5d7d   3F  2     41204.740   (3)3F
181          5d7d   3F  3     41726.630   (3)3F
182          5d7d   3F  4     41845.630   (3)3F
183         6s16s   3S  1     41235.850   (9)3S
184         6s16s   1S  0     41245.200  (13)1S
189         6s15d   3D  1     41299.580  (15)3D
190         6s15d   3D  2     41300.400  (15)3D
191         6s15d   3D  3     41300.820  (15)3D
193         6s15d   1D  2     41315.490  (16)1D
194         6s17s   3S  1     41356.240  (10)3S
195         6s17s   1S  0     41362.310  (14)1S
196         6s13g   3G  3     41379.960   (5)3G
199         6s16d   3D  3     41405.970  (16)3D
200         6s16d   3D  1     41406.520  (16)3D
201         6s16d   3D  2     41407.130  (16)3D
203         6s16d   1D  2     41417.580  (17)1D
204          5d7d   3P  0     41441.220   (4)3P
205          5d7d   3P  1     41930.910   (4)3P
206         6s18s   3S  1     41451.260  (11)3S
207         6s18s   1S  0     41467.800  (15)1S
208         6s18s   1S  3     41470.960  (15)1S
211         6s17d   3D  1     41491.560  (17)3D
212         6s17d   3D  2     41492.220  (17)3D
213         6s17d   3D  3     41495.620  (17)3D
215         6s17d   1D  2     41500.000  (18)1D
216         6s19s   3S  1     41527.150  (12)3S
217         6s19s   1S  0     41535.250  (16)1S
218         6s15g   3G  5     41539.690   (6)3G
219         6s18d   3D  1     41559.010  (18)3D
220         6s18d   3D  2     41561.130  (18)3D
221         6s18d   3D  3     41562.570  (18)3D
225         6s18d   1D  2     41567.090  (19)1D
226          5d7d   1P  1     41570.370   (2)1P
227         6s20s   3S  1     41592.710  (13)3S
228         6s20s   1S  0     41595.800  (17)1S
229         6s20s   1S  5     41603.890  (17)1S
232         6s19d   3D  2     41617.740  (19)3D
233         6s19d   3D  1     41617.800  (19)3D
234         6s19d   3D  3     41618.460  (19)3D
236         6s19d   1D  2     41622.380  (20)1D
237         6s21s   3S  1     41642.790  (14)3S
238         6s21s   1S  0     41646.280  (18)1S
243         6s20d   3D  2     41664.680  (20)3D
244         6s20d   3D  1     41664.680  (20)3D
245         6s20d   3D  3     41665.310  (20)3D
246         6s20d   1D  2     41668.460  (21)1D
247         6s22s   3S  1     41685.690  (15)3S
248         6s22s   1S  0     41688.610  (19)1S
250         6s18g   3G  3     41693.910   (7)3G
253         6s21d   3D  2     41704.140  (21)3D
254         6s21d   3D  1     41704.200  (21)3D
255         6s21d   3D  3     41704.480  (21)3D
256         6s21d   1D  2     41707.160  (22)1D
257         6s23s   3S  1     41721.960  (16)3S
258         6s23s   1S  0     41724.400  (20)1S
262         6s22d   3D  2     41737.590  (22)3D
263         6s22d   3D  1     41737.750  (22)3D
264         6s22d   3D  3     41739.130  (22)3D
265         6s22d   1D  2     41740.060  (23)1D
266         6s24s   3S  1     41752.810  (17)3S
267         6s24s   1S  0     41754.920  (21)1S
270         6s23d   3D  2     41766.170  (23)3D
271         6s23d   3D  1     41766.330  (23)3D
272         6s23d   3D  3     41767.180  (23)3D
274         6s23d   1D  2     41768.200  (24)1D
275         6s25s   3S  1     41779.370  (18)3S
276         6s25s   1S  0     41781.180  (22)1S
279         6s24d   3D  2     41790.740  (24)3D
280         6s24d   3D  1     41791.110  (24)3D
281         6s24d   3D  3     41791.740  (24)3D
283         6s24d   1D  2     41792.520  (25)1D
285         6s25d   3D  2     41811.830  (25)3D
286         6s25d   3D  1     41812.430  (25)3D
287         6s25d   1D  2     41813.540  (26)1D
289          5d7d   1D  2     41841.510  (27)1D
291         6s24g   3G  4     41842.240   (8)3G

In [567]:
def match_expt_theory_simple(dfexpt, dftheory):
    # Match exptl and theoretical levels, based upon leading term
    #    (will fail if term assignments differ)
    # Return a DataFrame containing both theory and expt
    if 'degen' not in dfexpt.columns:
        # Add degeneracy
        dfexpt['degen'] = (2 * dfexpt.J.apply(chem.halves_to_float)) + 1
    dfcomp = dfexpt.copy()
    dfcomp['Tcalc'] = ''  # term assignment in computation
    dfcomp['termwt'] = ''
    dfcomp['Ecalc'] = np.nan
    for i, row in dftheory.iterrows():
        term = row.Lead
        J = chem.halves_to_float(row.J)
        #print(f'theory row {i} with J = {J} for term {term}')
        for ix, rowx in dfexpt.iterrows():
            xTerm = rowx.uTerm
            xJ = chem.halves_to_float(rowx.J)
            #print(f'    expt row {ix} with J = {xJ} for term {xTerm}')
            if (xJ == J) and (term == xTerm):
                if not np.isnan(dfcomp.at[ix, 'Ecalc']):
                    print('Already paired!', display(rowx.to_frame().T))                   
                else:
                    dfcomp.at[ix, 'Ecalc'] = row.Erel
                    dfcomp.at[ix, 'Tcalc'] = term
                    dfcomp.at[ix, 'termwt'] = row.termwt
    dfcomp['err'] = dfcomp.Ecalc - dfcomp[Ecol]
    return dfcomp

In [568]:
dfdiff = match_expt_theory_simple(dfexpt, dfso)
# Convert str values of J to float
dfdiff['J'] = dfdiff.J.apply(chem.halves_to_float)
warnThresh = 1000  # highlight errors larger than this (cm-1)
# drop rows with NaN (no matching level in the calculation)
dfdiff.dropna(axis=0, inplace=True)
print(f'Please inspect the following pairing of theory ("Ecalc") with expt ("{Ecol}")')
print('Disagreements in term assignments are highlighted in red')
print(f'Errors > {warnThresh} cm-1 are highlighted in yellow')
selcols = ['Configuration', 'uTerm', 'J', Ecol, 'Tcalc', 'Ecalc', 'err']
display(dfdiff[selcols].style.apply(lambda x: ["background: yellow" if abs(v) > warnThresh else "" for v in x], 
              subset=pd.IndexSlice[['err']]).apply(lambda x: (x != dfdiff['uTerm']).map({True: "background-color: red; \
              color: white", False: ""}), subset=['Tcalc']).format(fmt))
# Print a warning if experimental levels are missing
nth = len(dfso); ndiff = len(dfdiff)
if nth > ndiff:
    print('**** Missing experimental levels! ****')
    print(f'**** There are {nth} theoretical levels but only {ndiff} matching experimental levels')
    print('**** Missing level energies must be supplied before using eq. (2) ')
    1/0

Please inspect the following pairing of theory ("Ecalc") with expt ("Level (cm-1)")
Disagreements in term assignments are highlighted in red
Errors > 1000 cm-1 are highlighted in yellow

In [569]:
# No theoretical calculations are needed to use eq. (1)
xterms = []  # list of term labels
eterms = []  # list of term energies
for term in dfdiff.uTerm:
    if term not in xterms:
        xterms.append(term)
for Term in xterms:
    subdf = dfexpt[dfexpt.uTerm == Term]
    emean = np.dot(subdf.degen, subdf[Ecol]) / subdf.degen.sum()
    eterms.append(emean)
dfeq1 = pd.DataFrame({'Term': xterms, 'Eterm': eterms}).sort_values('Eterm').reset_index(drop=True)
print('Term energies (cm-1) using eq. (1) (experimental data with naive model)')
display(dfeq1.style.format(fmt))
SOC1 = -1 * np.round(dfeq1.at[0, 'Eterm'], 3)
lowterm = dfeq1.at[0, 'Term']
print(f'The term of lowest energy is \t{lowterm} \twith SOC1 = {SOC1} cm-1')
levterm = dfexpt.uTerm.values[0]

target = levterm

if levterm != lowterm:
    # The lowest term is not the leading term in the lowest level
    SOC1alt = SOC1
    SOC1 = -1 * np.round(dfeq1[dfeq1.Term == levterm]['Eterm'].values[0], 3)
    print(f'The lowest level belongs to \t{levterm} \twith SOC1 = {SOC1} cm-1')
print()
print(f'Term {target} is selected for further SOC calculation')
print('    to change this, assign the variable "target" to another term in the table above')

Term energies (cm-1) using eq. (1) (experimental data with naive model)

The term of lowest energy is 	(1)1S 	with SOC1 = -0.0 cm-1

Term (1)1S is selected for further SOC calculation
    to change this, assign the variable "target" to another term in the table above

In [570]:
def term_energy_from_levels(df, term):
    # Given a DataFrame with the right columns ['J', 'termwt', Ecol],
    #   where 'Ecol' is the header for the column of level energies,
    # Return the term's average energy as derived from the levels
    global SOCI
    # find index for term 'term'
    iterm = SOCI.dfterm[SOCI.dfterm.Term == term].index[0]
    termwt = []
    for twt in df.termwt:
        try:
            termwt.append(twt[iterm])
        except IndexError:
            # assume scalar
            termwt.append(twt)
    termwt = np.array(termwt)
    #termwt = np.array([twt[iterm] for twt in df.termwt])
    try:
        degen = df.degen.values
    except:
        degen = 2 * df.J.values + 1
    dweight = degen * termwt  # total weight, including degeneracies
    Eterm = np.dot(df[Ecol], dweight) / dweight.sum()
    return Eterm

In [571]:
target

'(1)1S'

In [572]:
# Use experimental level energies via eq. (2)
Eterm = term_energy_from_levels(dfdiff, target)
SOC2 = -Eterm
print('Applying eq. (2) (experimental energies and theoretical term weights)')
print(f'For term {target}, SOC2 = {SOC2:.2f} cm-1')

Applying eq. (2) (experimental energies and theoretical term weights)
For term (1)1S, SOC2 = -0.06 cm-1

In [573]:
print(f'Molpro source file: {fname}\n')
print(f'Alternative values for E_so[{target}] of atom {atom}:')
print('-' * 25)
print('{:12s} {:.2f} cm-1'.format('eq (1)', SOC1))
print('{:12s} {:.2f} cm-1'.format('raw theory', SOCraw))
print('{:12s} {:.2f} cm-1'.format('eq (2)', SOC2))
print('-' * 25)

Molpro source file: ba_1S3D3F3P_ac5zpp.pro

Alternative values for E_so[(1)1S] of atom Ba:
-------------------------
eq (1)       -0.00 cm-1
raw theory   -0.06 cm-1
eq (2)       -0.06 cm-1
-------------------------

In [574]:
def term_distrib(term, df):
    # return the weights (including 2J+1) of term in levels
    global SOCI
    itarget = SOCI.dfterm[SOCI.dfterm.Term == term].index[0]
    wt = []
    for twt in df.termwt:
        try:
            wt.append(twt[itarget])
        except IndexError:
            # assume scalar
            wt.append(twt)
    wt = np.array(wt)
    #wt = [twt[itarget] for twt in df.termwt]  # without 2J+1 weighting
    wt = wt * (2*df.J + 1)
    return wt

In [575]:
# Term energy errors as inferred from all levels
dftermerr = pd.DataFrame(columns=['Term', 'wmean', 'wstds'])
termlist = []
wmean = []
wstds = []
# also consider unsigned (absolute value) errors
uwmean = []
uwstds = []
# also consider RMSE
trmse = []
for term in set(dfdiff.uTerm):
    termlist.append(term)
    weights = term_distrib(term, dfdiff).values
    m, s = chem.weighted_mean(dfdiff.err, weights)
    wmean.append(m)
    wstds.append(s)
    uerr = np.abs(dfdiff.err.values)
    um, us = chem.weighted_mean(uerr, weights)
    uwmean.append(um)
    uwstds.append(us)
    umsq, ussq = chem.weighted_mean(uerr ** 2, weights)
    trmse.append(np.sqrt(umsq))
dftermerr['Term'] = termlist
dftermerr['wmean'] = wmean
dftermerr['wstds'] = wstds
dftermerr['uwmean'] = uwmean
dftermerr['uwstds'] = uwstds
dftermerr['rwmse'] = trmse

if dftermerr.isnull().values.any():
    print('*** Some terms are missing ***')
    print('Try decreasing the energy maximum ("termcut")')
else:
    print('Errors in term energies (cm-1) as inferred from full level distribution')
    print('    (not only levels where leading)')
    # default order same as experimental terms
    dftermerr.Term = pd.Categorical(dftermerr.Term, xterms)
    dftermerr = dftermerr.sort_values('Term')
dftermerr.sort_values('uwmean').style.format(fmt)

Errors in term energies (cm-1) as inferred from full level distribution
    (not only levels where leading)

In [547]:
print(f'Distribution of term "{target}" among levels:')
thrsh = 1.e-6
dfdistrib = dfso.copy()
dfdistrib[target] = term_distrib(target, dfso)
# remove rows with negligible weights
dfdistrib = dfdistrib[dfdistrib[target] > thrsh]
dfdistrib.drop(['termwt', 'Composition'], axis=1, inplace=True)
display(dfdistrib.sort_values(target, ascending=False).style.format(fmt))
print(f'Total weight of {target} = {dfdistrib[target].sum():.3f}')

Distribution of term "(1)1S" among levels:

Total weight of (1)1S = 1.000

# Looking at levels may help in assigning LS term labels to exptl levels (when missing)
dfassign = dfso[['Lead', 'J', 'Erel', 'termwt']]
dfasub = dfassign[dfassign.Lead == '(2)1S']
display(dfasub.style.format(fmt))

In [375]:
# Don't attempt level-fitting by default
1/0

ZeroDivisionError: division by zero

## Fitting of term energies to experimental level energies

In [ ]:
def levels_from_term_energies(term_order, term_energies):
    # Install the term energies along the SOCI.matrix diagonal and rediagonalize
    #   'term_order' is array of term symbols
    #   'term_energies' is array of corresponding energies (cm-1)
    # Return nothing
    #global SOCI
    #   'SOCI' is a fullmatSOCI() object and is modified
    term_dict = dict(zip(term_order, term_energies))
    newdiag = SOCI.matrix.diagonal().copy()
    for ibs in range(len(newdiag)):
        j = SOCI.sob_ici[ibs]
        term = SOCI.mrci[j].Term
        # install the new energy for the term
        newdiag[ibs] = term_dict[term]
    # update the matrix
    SOCI.fill_diagonal(newdiag)
    SOCI.diagonalize(store=True, vectors=True, sortval=False)  # update the SOCI() object
    SOCI.assign_atomic_J(quiet=True)
    return

In [ ]:
def rmserr(dfcomp):
    # Given a matched-up comparison of expt and theory, return the
    #   rms error in level energies
    # Weighted with degeneracies
    rmse = np.dot(dfcomp.err**2, dfcomp.degen.astype(float))
    rmse /= dfcomp.degen.sum()
    rmse = np.sqrt(rmse)
    return rmse
def obj_fun(exc_terme):
    # Given only excited term energies (assuming ground=0)
    #   return the RMSE
    global term_order, dfexpt, SOCI
    terme = [0] + list(exc_terme)  # the fixed energy of the ground term is 0
    levels_from_term_energies(term_order, terme)
    dfcomp = match_expt_theory_simple(dfexpt, SOCI.dfso)
    # drop rows with NaN (no matching level in the calculation)
    dfcomp.dropna(axis=0, inplace=True)
    rmse = rmserr(dfcomp)
    return rmse

In [ ]:
# Create global 'term_order' 
term_order = dfterm.Term.values
term_energies = dfterm.ecm.values

In [ ]:
print('Initial comparison with expt, before fitting')
rmse0 = rmserr(dfdiff)
print(f'RMSE = {rmse0:.1f} cm-1')
display(dfdiff.style.format(fmt))

def freport(xvec):
    # callback function to monitor minimization
    freport.counter += 1
    print(f'{freport.counter:5d}', end='')
    return
freport.counter = 0

In [ ]:
def freport(xvec):
    # callback function to monitor minimization
    # this version provides more info, at slightly increased cost
    freport.counter += 1
    print(f'{freport.counter:5d}', end='')
    for x in xvec:
        print(f'   {x:.1f}', end='')
    fun = obj_fun(xvec)
    print(f'  RMSE = {fun:.1f}')
    return
freport.counter = 0

In [ ]:
# Minimize the RMSE (may take hours)
exc_terme = list(term_energies)[1:]  # only excited terms; assume ground term = 0 energy
result = scipy.optimize.minimize(obj_fun, exc_terme, method='Nelder-Mead', callback=freport)

In [ ]:
if result.success:
    print(f'Minimization complete in {result.nit} iterations with {result.nfev} evaluations')
    print(f'RMSE = {result.fun:.1f} after Nelder-Mead')
    rmse = result.fun
    print('Fitted levels')
    fit_terme = [0] + list(result.x)
    levels_from_term_energies(term_order, fit_terme)
    dfcomp = match_expt_theory_simple(dfexpt, SOCI.dfso)
    # drop rows with NaN (no matching level in the calculation)
    dfcomp.dropna(axis=0, inplace=True)
    rmse = rmserr(dfcomp)
    # Convert str values of J to float
    dfcomp['J'] = dfcomp.J.apply(chem.halves_to_float)
    display(dfcomp.style.format(fmt))
    print(f'RMSE = {rmse:.1f} cm-1 compared with initial RMSE = {rmse0:.1f}')
else:
    print('*** Failure ***')
    print(result)

In [ ]:
# Add to Term DataFrame
print('Fitted term energies; "Erel" is relative to the lowest level')
dfterm['fitted'] = np.nan
for term, terme in zip(term_order, fit_terme):
    dfterm.loc[dfterm.Term == term, 'fitted'] = terme
Eshift = SOCI.dfso.Eshift.min()  # energy of ground level relative to lowest term
dfterm['Erel'] = (dfterm.fitted - Eshift) # relative to ground level
dfterm['change'] = dfterm.fitted - dfterm.ecm
dfterm.style.format(fmt)

In [ ]:
termfit = dfterm.loc[dfterm.Term == target, 'Erel'].values[0]

In [ ]:
print(f'Molpro source file: {fname}\n')
print(f'Alternative values for E_so[{target}] of atom {atom}:')
print('-' * 25)
print('{:12s} {:.1f} cm-1'.format('eq (1)', SOC1))
print('{:12s} {:.1f} cm-1'.format('raw theory', SOCraw))
print('{:12s} {:.1f} cm-1'.format('eq (2)', SOC2))
print('{:12s} {:.1f} cm-1'.format(f'-E[{target}]', -termfit))
print('-' * 25)

## Seems broken below here

In [ ]:
def eq2_from_term_energies(term_order, terme, target):
    levels_from_term_energies(term_order, terme)
    dflev = SOCI.assign_atomic_J(quiet=True).copy()
    dfc = match_expt_theory_simple(dfexpt, dflev).dropna()
    display(dfc)
    Etarg = term_energy_from_levels(dfc, target)
    eq2 = -Etarg
    return eq2

In [ ]:
eq2_from_term_energies(term_order, dfterm.Edav.values, target)

In [ ]:
dfcomp

In [ ]:
# Install fitted term energies
#levels_from_term_energies(term_order, dfterm.fitted.values)
levels_from_term_energies(term_order, dfterm.Edav.values)
print(f'Distribution of term "{target}" among levels, after fitting term energies:')
thrsh = 1.e-6
dffitted = SOCI.assign_atomic_J(quiet=True).copy()
dffitted[target] = term_distrib(target, SOCI.dfso)
# remove rows with negligible weights
dffitted = dffitted[dffitted[target] > thrsh]
dffitted.drop(['termwt', 'Composition'], axis=1, inplace=True)
display(dffitted.sort_values(target, ascending=False).style.format(fmt))
print(f'Total weight of {target} = {dffitted[target].sum():.3f}')

In [ ]:
print(f'Distribution of term "{target}" among levels:')
thrsh = 1.e-6
dfdistrib = SOCI.assign_atomic_J(quiet=True).copy()
dfdistrib[target] = term_distrib(target, dfso)
# remove rows with negligible weights
dfdistrib = dfdistrib[dfdistrib[target] > thrsh]
dfdistrib.drop(['termwt', 'Composition'], axis=1, inplace=True)
display(dfdistrib.sort_values(target, ascending=False).style.format(fmt))
print(f'Total weight of {target} = {dfdistrib[target].sum():.3f}')

In [ ]:
dfdiff